/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type ActivationCodeAPI interface {

	/*
	V1ActivationCodePut Updates Activation Code

	Updates Activation Code in Jamf Pro.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ActivationCodeAPIV1ActivationCodePutRequest
	*/
	V1ActivationCodePut(ctx context.Context) ActivationCodeAPIV1ActivationCodePutRequest

	// V1ActivationCodePutExecute executes the request
	V1ActivationCodePutExecute(r ActivationCodeAPIV1ActivationCodePutRequest) (*http.Response, error)
}

// ActivationCodeAPIService ActivationCodeAPI service
type ActivationCodeAPIService service

type ActivationCodeAPIV1ActivationCodePutRequest struct {
	ctx context.Context
	ApiService ActivationCodeAPI
	activationCode *ActivationCode
}

func (r ActivationCodeAPIV1ActivationCodePutRequest) ActivationCode(activationCode ActivationCode) ActivationCodeAPIV1ActivationCodePutRequest {
	r.activationCode = &activationCode
	return r
}

func (r ActivationCodeAPIV1ActivationCodePutRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1ActivationCodePutExecute(r)
}

/*
V1ActivationCodePut Updates Activation Code

Updates Activation Code in Jamf Pro.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ActivationCodeAPIV1ActivationCodePutRequest
*/
func (a *ActivationCodeAPIService) V1ActivationCodePut(ctx context.Context) ActivationCodeAPIV1ActivationCodePutRequest {
	return ActivationCodeAPIV1ActivationCodePutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ActivationCodeAPIService) V1ActivationCodePutExecute(r ActivationCodeAPIV1ActivationCodePutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivationCodeAPIService.V1ActivationCodePut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/activation-code"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.activationCode
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
