/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type UserSessionsAPI interface {

	/*
	V1UserSessionsActiveGet Get active user sessions. 

	Returns detailed information about currently logged in users.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UserSessionsAPIV1UserSessionsActiveGetRequest
	*/
	V1UserSessionsActiveGet(ctx context.Context) UserSessionsAPIV1UserSessionsActiveGetRequest

	// V1UserSessionsActiveGetExecute executes the request
	//  @return []ActiveUserSession
	V1UserSessionsActiveGetExecute(r UserSessionsAPIV1UserSessionsActiveGetRequest) ([]ActiveUserSession, *http.Response, error)

	/*
	V1UserSessionsCountGet Get count of active user sessions. 

	Returns the number of currently logged in users.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UserSessionsAPIV1UserSessionsCountGetRequest
	*/
	V1UserSessionsCountGet(ctx context.Context) UserSessionsAPIV1UserSessionsCountGetRequest

	// V1UserSessionsCountGetExecute executes the request
	//  @return ActiveUsersCount
	V1UserSessionsCountGetExecute(r UserSessionsAPIV1UserSessionsCountGetRequest) (*ActiveUsersCount, *http.Response, error)
}

// UserSessionsAPIService UserSessionsAPI service
type UserSessionsAPIService service

type UserSessionsAPIV1UserSessionsActiveGetRequest struct {
	ctx context.Context
	ApiService UserSessionsAPI
}

func (r UserSessionsAPIV1UserSessionsActiveGetRequest) Execute() ([]ActiveUserSession, *http.Response, error) {
	return r.ApiService.V1UserSessionsActiveGetExecute(r)
}

/*
V1UserSessionsActiveGet Get active user sessions. 

Returns detailed information about currently logged in users.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserSessionsAPIV1UserSessionsActiveGetRequest
*/
func (a *UserSessionsAPIService) V1UserSessionsActiveGet(ctx context.Context) UserSessionsAPIV1UserSessionsActiveGetRequest {
	return UserSessionsAPIV1UserSessionsActiveGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ActiveUserSession
func (a *UserSessionsAPIService) V1UserSessionsActiveGetExecute(r UserSessionsAPIV1UserSessionsActiveGetRequest) ([]ActiveUserSession, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ActiveUserSession
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSessionsAPIService.V1UserSessionsActiveGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/user-sessions/active"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UserSessionsAPIV1UserSessionsCountGetRequest struct {
	ctx context.Context
	ApiService UserSessionsAPI
}

func (r UserSessionsAPIV1UserSessionsCountGetRequest) Execute() (*ActiveUsersCount, *http.Response, error) {
	return r.ApiService.V1UserSessionsCountGetExecute(r)
}

/*
V1UserSessionsCountGet Get count of active user sessions. 

Returns the number of currently logged in users.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserSessionsAPIV1UserSessionsCountGetRequest
*/
func (a *UserSessionsAPIService) V1UserSessionsCountGet(ctx context.Context) UserSessionsAPIV1UserSessionsCountGetRequest {
	return UserSessionsAPIV1UserSessionsCountGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ActiveUsersCount
func (a *UserSessionsAPIService) V1UserSessionsCountGetExecute(r UserSessionsAPIV1UserSessionsCountGetRequest) (*ActiveUsersCount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ActiveUsersCount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSessionsAPIService.V1UserSessionsCountGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/user-sessions/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
