/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type GroupsAPI interface {

	/*
	V1GroupsGet Returns group information for all Mobile Device and Computer groups

	Returns group information for all Mobile Device and Computer groups. The type of groups returned will be dependent upon the corresponding group type READ privileges.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GroupsAPIV1GroupsGetRequest
	*/
	V1GroupsGet(ctx context.Context) GroupsAPIV1GroupsGetRequest

	// V1GroupsGetExecute executes the request
	//  @return GroupSearchResult
	V1GroupsGetExecute(r GroupsAPIV1GroupsGetRequest) (*GroupSearchResult, *http.Response, error)

	/*
	V1GroupsIdGet Returns group information for the given platform UUID

	Returns group information for the given platform UUID. Dependent upon the returned group type the corresponding READ privilege for that group type will be needed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The platform UUID of a group
	@return GroupsAPIV1GroupsIdGetRequest
	*/
	V1GroupsIdGet(ctx context.Context, id string) GroupsAPIV1GroupsIdGetRequest

	// V1GroupsIdGetExecute executes the request
	//  @return GroupV1
	V1GroupsIdGetExecute(r GroupsAPIV1GroupsIdGetRequest) (*GroupV1, *http.Response, error)
}

// GroupsAPIService GroupsAPI service
type GroupsAPIService service

type GroupsAPIV1GroupsGetRequest struct {
	ctx context.Context
	ApiService GroupsAPI
	page *int64
	pageSize *int64
	filter *string
}

func (r GroupsAPIV1GroupsGetRequest) Page(page int64) GroupsAPIV1GroupsGetRequest {
	r.page = &page
	return r
}

func (r GroupsAPIV1GroupsGetRequest) PageSize(pageSize int64) GroupsAPIV1GroupsGetRequest {
	r.pageSize = &pageSize
	return r
}

// Query in the RSQL format, allowing to filter group collection. Default filter is empty query - returning all results for the requested page. Fields allowed in the query: groupName, isSmart. This param can be combined with paging. Example: filter&#x3D;groupName&#x3D;&#x3D;\&quot;*Managed*\&quot; and isSmart&#x3D;&#x3D;\&quot;true\&quot;
func (r GroupsAPIV1GroupsGetRequest) Filter(filter string) GroupsAPIV1GroupsGetRequest {
	r.filter = &filter
	return r
}

func (r GroupsAPIV1GroupsGetRequest) Execute() (*GroupSearchResult, *http.Response, error) {
	return r.ApiService.V1GroupsGetExecute(r)
}

/*
V1GroupsGet Returns group information for all Mobile Device and Computer groups

Returns group information for all Mobile Device and Computer groups. The type of groups returned will be dependent upon the corresponding group type READ privileges.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return GroupsAPIV1GroupsGetRequest
*/
func (a *GroupsAPIService) V1GroupsGet(ctx context.Context) GroupsAPIV1GroupsGetRequest {
	return GroupsAPIV1GroupsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GroupSearchResult
func (a *GroupsAPIService) V1GroupsGetExecute(r GroupsAPIV1GroupsGetRequest) (*GroupSearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GroupSearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsAPIService.V1GroupsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
        var defaultValue int64 = 0
        parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
        r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	} else {
        var defaultValue int64 = 100
        parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", defaultValue, "form", "")
        r.pageSize = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	} else {
        var defaultValue string = ""
        parameterAddToHeaderOrQuery(localVarQueryParams, "filter", defaultValue, "form", "")
        r.filter = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GroupsAPIV1GroupsIdGetRequest struct {
	ctx context.Context
	ApiService GroupsAPI
	id string
}

func (r GroupsAPIV1GroupsIdGetRequest) Execute() (*GroupV1, *http.Response, error) {
	return r.ApiService.V1GroupsIdGetExecute(r)
}

/*
V1GroupsIdGet Returns group information for the given platform UUID

Returns group information for the given platform UUID. Dependent upon the returned group type the corresponding READ privilege for that group type will be needed.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The platform UUID of a group
 @return GroupsAPIV1GroupsIdGetRequest
*/
func (a *GroupsAPIService) V1GroupsIdGet(ctx context.Context, id string) GroupsAPIV1GroupsIdGetRequest {
	return GroupsAPIV1GroupsIdGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GroupV1
func (a *GroupsAPIService) V1GroupsIdGetExecute(r GroupsAPIV1GroupsIdGetRequest) (*GroupV1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GroupV1
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsAPIService.V1GroupsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/groups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
