/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


type ApnsClientPushStatusAPI interface {

	/*
	V1ApnsClientPushStatusEnableAllClientsPost Enable push notifications for all clients 

	Create a request to enable push notifications for all MDM clients that currently have push disabled.
This is an asynchronous operation that processes all disabled clients in the background.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest
	*/
	V1ApnsClientPushStatusEnableAllClientsPost(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest

	// V1ApnsClientPushStatusEnableAllClientsPostExecute executes the request
	V1ApnsClientPushStatusEnableAllClientsPostExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest) (*http.Response, error)

	/*
	V1ApnsClientPushStatusEnableAllClientsStatusGet Get status of enable all clients request 

	Retrieve the status of the most recent request to enable push notifications for all clients.
Returns 404 if no recent request exists.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest
	*/
	V1ApnsClientPushStatusEnableAllClientsStatusGet(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest

	// V1ApnsClientPushStatusEnableAllClientsStatusGetExecute executes the request
	//  @return ApnsPushEnableRequest
	V1ApnsClientPushStatusEnableAllClientsStatusGetExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest) (*ApnsPushEnableRequest, *http.Response, error)

	/*
	V1ApnsClientPushStatusEnableClientPost Enable push notifications for a single client 

	Enable push notifications for a single MDM client that previously had push disabled.
This sets the pushEnabled flag to true for the specified client.
managementId field is required in the request body.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest
	*/
	V1ApnsClientPushStatusEnableClientPost(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest

	// V1ApnsClientPushStatusEnableClientPostExecute executes the request
	V1ApnsClientPushStatusEnableClientPostExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest) (*http.Response, error)

	/*
	V1ApnsClientPushStatusGet Search for clients with push notifications disabled 

	Retrieve a paginated, sortable, and filterable list of MDM clients that have push notifications disabled.
The endpoint queries the mdm_client table and returns information about when push was disabled and links to the device records.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest
	*/
	V1ApnsClientPushStatusGet(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest

	// V1ApnsClientPushStatusGetExecute executes the request
	//  @return ApnsClientPushStatusSearchResults
	V1ApnsClientPushStatusGetExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest) (*ApnsClientPushStatusSearchResults, *http.Response, error)
}

// ApnsClientPushStatusAPIService ApnsClientPushStatusAPI service
type ApnsClientPushStatusAPIService service

type ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest struct {
	ctx context.Context
	ApiService ApnsClientPushStatusAPI
}

func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1ApnsClientPushStatusEnableAllClientsPostExecute(r)
}

/*
V1ApnsClientPushStatusEnableAllClientsPost Enable push notifications for all clients 

Create a request to enable push notifications for all MDM clients that currently have push disabled.
This is an asynchronous operation that processes all disabled clients in the background.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest
*/
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusEnableAllClientsPost(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest {
	return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusEnableAllClientsPostExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApnsClientPushStatusAPIService.V1ApnsClientPushStatusEnableAllClientsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apns-client-push-status/enable-all-clients"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest struct {
	ctx context.Context
	ApiService ApnsClientPushStatusAPI
}

func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest) Execute() (*ApnsPushEnableRequest, *http.Response, error) {
	return r.ApiService.V1ApnsClientPushStatusEnableAllClientsStatusGetExecute(r)
}

/*
V1ApnsClientPushStatusEnableAllClientsStatusGet Get status of enable all clients request 

Retrieve the status of the most recent request to enable push notifications for all clients.
Returns 404 if no recent request exists.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest
*/
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusEnableAllClientsStatusGet(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest {
	return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApnsPushEnableRequest
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusEnableAllClientsStatusGetExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableAllClientsStatusGetRequest) (*ApnsPushEnableRequest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApnsPushEnableRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApnsClientPushStatusAPIService.V1ApnsClientPushStatusEnableAllClientsStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apns-client-push-status/enable-all-clients/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest struct {
	ctx context.Context
	ApiService ApnsClientPushStatusAPI
	enablePushRequest *EnablePushRequest
}

func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest) EnablePushRequest(enablePushRequest EnablePushRequest) ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest {
	r.enablePushRequest = &enablePushRequest
	return r
}

func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1ApnsClientPushStatusEnableClientPostExecute(r)
}

/*
V1ApnsClientPushStatusEnableClientPost Enable push notifications for a single client 

Enable push notifications for a single MDM client that previously had push disabled.
This sets the pushEnabled flag to true for the specified client.
managementId field is required in the request body.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest
*/
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusEnableClientPost(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest {
	return ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusEnableClientPostExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusEnableClientPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApnsClientPushStatusAPIService.V1ApnsClientPushStatusEnableClientPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apns-client-push-status/enable-client"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enablePushRequest == nil {
		return nil, reportError("enablePushRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.enablePushRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest struct {
	ctx context.Context
	ApiService ApnsClientPushStatusAPI
	page *int64
	pageSize *int64
	sort *[]string
	filter *string
}

func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest) Page(page int64) ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest {
	r.page = &page
	return r
}

func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest) PageSize(pageSize int64) ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest {
	r.pageSize = &pageSize
	return r
}

// Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. Sortable fields: pushDisabledTime, deviceType, managementId 
func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest) Sort(sort []string) ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest {
	r.sort = &sort
	return r
}

// Query in the RSQL format, allowing to filter results. Fields allowed in the query: deviceType, disabledAt, managementId. This param can be combined with paging and sorting.  Example: filter&#x3D;deviceType&#x3D;&#x3D;\&quot;MOBILE_DEVICE\&quot; Example: filter&#x3D;disabledAt&gt;2024-11-01T00:00:00Z Example: filter&#x3D;deviceType&#x3D;&#x3D;\&quot;COMPUTER\&quot;;disabledAt&gt;2024-01-01T00:00:00Z 
func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest) Filter(filter string) ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest {
	r.filter = &filter
	return r
}

func (r ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest) Execute() (*ApnsClientPushStatusSearchResults, *http.Response, error) {
	return r.ApiService.V1ApnsClientPushStatusGetExecute(r)
}

/*
V1ApnsClientPushStatusGet Search for clients with push notifications disabled 

Retrieve a paginated, sortable, and filterable list of MDM clients that have push notifications disabled.
The endpoint queries the mdm_client table and returns information about when push was disabled and links to the device records.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest
*/
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusGet(ctx context.Context) ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest {
	return ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApnsClientPushStatusSearchResults
func (a *ApnsClientPushStatusAPIService) V1ApnsClientPushStatusGetExecute(r ApnsClientPushStatusAPIV1ApnsClientPushStatusGetRequest) (*ApnsClientPushStatusSearchResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApnsClientPushStatusSearchResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApnsClientPushStatusAPIService.V1ApnsClientPushStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apns-client-push-status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	} else {
		var defaultValue int64 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "form", "multi")
		}
	} else {
		var defaultValue []string = []string{"pushDisabledTime:asc"}
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "multi")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", defaultValue, "form", "")
		r.filter = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
