/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type MobileDeviceExtensionAttributesPreviewAPI interface {

	/*
	DevicesExtensionAttributesGet Get Mobile Device Extension Attribute values placed in select paramter 

	Gets Mobile Device Extension Attribute values placed in select parameter.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest
	*/
	DevicesExtensionAttributesGet(ctx context.Context) MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest

	// DevicesExtensionAttributesGetExecute executes the request
	//  @return MobileDeviceExtensionAttributeResults
	DevicesExtensionAttributesGetExecute(r MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest) (*MobileDeviceExtensionAttributeResults, *http.Response, error)
}

// MobileDeviceExtensionAttributesPreviewAPIService MobileDeviceExtensionAttributesPreviewAPI service
type MobileDeviceExtensionAttributesPreviewAPIService service

type MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest struct {
	ctx context.Context
	ApiService MobileDeviceExtensionAttributesPreviewAPI
	select_ *string
}

// Acceptable values currently include: * name 
func (r MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest) Select_(select_ string) MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest {
	r.select_ = &select_
	return r
}

func (r MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest) Execute() (*MobileDeviceExtensionAttributeResults, *http.Response, error) {
	return r.ApiService.DevicesExtensionAttributesGetExecute(r)
}

/*
DevicesExtensionAttributesGet Get Mobile Device Extension Attribute values placed in select paramter 

Gets Mobile Device Extension Attribute values placed in select parameter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest
*/
func (a *MobileDeviceExtensionAttributesPreviewAPIService) DevicesExtensionAttributesGet(ctx context.Context) MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest {
	return MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MobileDeviceExtensionAttributeResults
func (a *MobileDeviceExtensionAttributesPreviewAPIService) DevicesExtensionAttributesGetExecute(r MobileDeviceExtensionAttributesPreviewAPIDevicesExtensionAttributesGetRequest) (*MobileDeviceExtensionAttributeResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MobileDeviceExtensionAttributeResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MobileDeviceExtensionAttributesPreviewAPIService.DevicesExtensionAttributesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/devices/extensionAttributes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.select_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "select", r.select_, "")
	} else {
		var defaultValue string = "name"
		r.select_ = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
