/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type CsaAPI interface {

	/*
	V1CsaTenantIdGet Returns the CSA tenant ID.

	Returns the CSA tenant ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CsaAPIV1CsaTenantIdGetRequest
	*/
	V1CsaTenantIdGet(ctx context.Context) CsaAPIV1CsaTenantIdGetRequest

	// V1CsaTenantIdGetExecute executes the request
	//  @return CsaTenantIdInfo
	V1CsaTenantIdGetExecute(r CsaAPIV1CsaTenantIdGetRequest) (*CsaTenantIdInfo, *http.Response, error)

	/*
	V1CsaTokenDelete Delete the CSA token exchange - This will disable Jamf Pro's ability to authenticate with cloud-hosted services 

	Delete the CSA token exchange - This will disable Jamf Pro's ability to authenticate with cloud-hosted services


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CsaAPIV1CsaTokenDeleteRequest
	*/
	V1CsaTokenDelete(ctx context.Context) CsaAPIV1CsaTokenDeleteRequest

	// V1CsaTokenDeleteExecute executes the request
	V1CsaTokenDeleteExecute(r CsaAPIV1CsaTokenDeleteRequest) (*http.Response, error)

	/*
	V1CsaTokenGet Get details regarding the CSA token exchange 

	Get details regarding the CSA token exchange


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CsaAPIV1CsaTokenGetRequest
	*/
	V1CsaTokenGet(ctx context.Context) CsaAPIV1CsaTokenGetRequest

	// V1CsaTokenGetExecute executes the request
	//  @return CsaToken
	V1CsaTokenGetExecute(r CsaAPIV1CsaTokenGetRequest) (*CsaToken, *http.Response, error)
}

// CsaAPIService CsaAPI service
type CsaAPIService service

type CsaAPIV1CsaTenantIdGetRequest struct {
	ctx context.Context
	ApiService CsaAPI
}

func (r CsaAPIV1CsaTenantIdGetRequest) Execute() (*CsaTenantIdInfo, *http.Response, error) {
	return r.ApiService.V1CsaTenantIdGetExecute(r)
}

/*
V1CsaTenantIdGet Returns the CSA tenant ID.

Returns the CSA tenant ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CsaAPIV1CsaTenantIdGetRequest
*/
func (a *CsaAPIService) V1CsaTenantIdGet(ctx context.Context) CsaAPIV1CsaTenantIdGetRequest {
	return CsaAPIV1CsaTenantIdGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CsaTenantIdInfo
func (a *CsaAPIService) V1CsaTenantIdGetExecute(r CsaAPIV1CsaTenantIdGetRequest) (*CsaTenantIdInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CsaTenantIdInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CsaAPIService.V1CsaTenantIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/csa/tenant-id"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CsaAPIV1CsaTokenDeleteRequest struct {
	ctx context.Context
	ApiService CsaAPI
}

func (r CsaAPIV1CsaTokenDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1CsaTokenDeleteExecute(r)
}

/*
V1CsaTokenDelete Delete the CSA token exchange - This will disable Jamf Pro's ability to authenticate with cloud-hosted services 

Delete the CSA token exchange - This will disable Jamf Pro's ability to authenticate with cloud-hosted services


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CsaAPIV1CsaTokenDeleteRequest
*/
func (a *CsaAPIService) V1CsaTokenDelete(ctx context.Context) CsaAPIV1CsaTokenDeleteRequest {
	return CsaAPIV1CsaTokenDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CsaAPIService) V1CsaTokenDeleteExecute(r CsaAPIV1CsaTokenDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CsaAPIService.V1CsaTokenDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/csa/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CsaAPIV1CsaTokenGetRequest struct {
	ctx context.Context
	ApiService CsaAPI
}

func (r CsaAPIV1CsaTokenGetRequest) Execute() (*CsaToken, *http.Response, error) {
	return r.ApiService.V1CsaTokenGetExecute(r)
}

/*
V1CsaTokenGet Get details regarding the CSA token exchange 

Get details regarding the CSA token exchange


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CsaAPIV1CsaTokenGetRequest
*/
func (a *CsaAPIService) V1CsaTokenGet(ctx context.Context) CsaAPIV1CsaTokenGetRequest {
	return CsaAPIV1CsaTokenGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CsaToken
func (a *CsaAPIService) V1CsaTokenGetExecute(r CsaAPIV1CsaTokenGetRequest) (*CsaToken, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CsaToken
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CsaAPIService.V1CsaTokenGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/csa/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
