/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


type VppSubscriptionsPreviewApi interface {

	/*
	VppSubscriptionsGet Found all VPP - subscriptions 

	Found all vpp - subscriptions.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiVppSubscriptionsGetRequest

	Deprecated
	*/
	VppSubscriptionsGet(ctx context.Context) ApiVppSubscriptionsGetRequest

	// VppSubscriptionsGetExecute executes the request
	//  @return []VppTokenSubscription
	// Deprecated
	VppSubscriptionsGetExecute(r ApiVppSubscriptionsGetRequest) ([]VppTokenSubscription, *http.Response, error)

	/*
	VppSubscriptionsIdGet Found VPP subscription by id 

	Found vpp subscription by id.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id of vpp subscription to be retrieved
	@return ApiVppSubscriptionsIdGetRequest

	Deprecated
	*/
	VppSubscriptionsIdGet(ctx context.Context, id int32) ApiVppSubscriptionsIdGetRequest

	// VppSubscriptionsIdGetExecute executes the request
	//  @return VppTokenSubscription
	// Deprecated
	VppSubscriptionsIdGetExecute(r ApiVppSubscriptionsIdGetRequest) (*VppTokenSubscription, *http.Response, error)
}

// VppSubscriptionsPreviewApiService VppSubscriptionsPreviewApi service
type VppSubscriptionsPreviewApiService service

type ApiVppSubscriptionsGetRequest struct {
	ctx context.Context
	ApiService VppSubscriptionsPreviewApi
}

func (r ApiVppSubscriptionsGetRequest) Execute() ([]VppTokenSubscription, *http.Response, error) {
	return r.ApiService.VppSubscriptionsGetExecute(r)
}

/*
VppSubscriptionsGet Found all VPP - subscriptions 

Found all vpp - subscriptions.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVppSubscriptionsGetRequest

Deprecated
*/
func (a *VppSubscriptionsPreviewApiService) VppSubscriptionsGet(ctx context.Context) ApiVppSubscriptionsGetRequest {
	return ApiVppSubscriptionsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []VppTokenSubscription
// Deprecated
func (a *VppSubscriptionsPreviewApiService) VppSubscriptionsGetExecute(r ApiVppSubscriptionsGetRequest) ([]VppTokenSubscription, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []VppTokenSubscription
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VppSubscriptionsPreviewApiService.VppSubscriptionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vpp/subscriptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVppSubscriptionsIdGetRequest struct {
	ctx context.Context
	ApiService VppSubscriptionsPreviewApi
	id int32
}

func (r ApiVppSubscriptionsIdGetRequest) Execute() (*VppTokenSubscription, *http.Response, error) {
	return r.ApiService.VppSubscriptionsIdGetExecute(r)
}

/*
VppSubscriptionsIdGet Found VPP subscription by id 

Found vpp subscription by id.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id of vpp subscription to be retrieved
 @return ApiVppSubscriptionsIdGetRequest

Deprecated
*/
func (a *VppSubscriptionsPreviewApiService) VppSubscriptionsIdGet(ctx context.Context, id int32) ApiVppSubscriptionsIdGetRequest {
	return ApiVppSubscriptionsIdGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return VppTokenSubscription
// Deprecated
func (a *VppSubscriptionsPreviewApiService) VppSubscriptionsIdGetExecute(r ApiVppSubscriptionsIdGetRequest) (*VppTokenSubscription, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VppTokenSubscription
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VppSubscriptionsPreviewApiService.VppSubscriptionsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vpp/subscriptions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
