/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type RemoteAdministrationAPI interface {

	/*
	PreviewRemoteAdministrationConfigurationsGet Get information about all remote administration configurations.

	Remote administration feature creates a secure screen-sharing experience between Jamf Pro administrators and their end-users.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest
	*/
	PreviewRemoteAdministrationConfigurationsGet(ctx context.Context) RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest

	// PreviewRemoteAdministrationConfigurationsGetExecute executes the request
	//  @return RemoteAdministrationSearchResults
	PreviewRemoteAdministrationConfigurationsGetExecute(r RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest) (*RemoteAdministrationSearchResults, *http.Response, error)
}

// RemoteAdministrationAPIService RemoteAdministrationAPI service
type RemoteAdministrationAPIService service

type RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest struct {
	ctx context.Context
	ApiService RemoteAdministrationAPI
	page *int32
	pageSize *int32
}

func (r RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest) Page(page int32) RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest {
	r.page = &page
	return r
}

func (r RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest) PageSize(pageSize int32) RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest) Execute() (*RemoteAdministrationSearchResults, *http.Response, error) {
	return r.ApiService.PreviewRemoteAdministrationConfigurationsGetExecute(r)
}

/*
PreviewRemoteAdministrationConfigurationsGet Get information about all remote administration configurations.

Remote administration feature creates a secure screen-sharing experience between Jamf Pro administrators and their end-users.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest
*/
func (a *RemoteAdministrationAPIService) PreviewRemoteAdministrationConfigurationsGet(ctx context.Context) RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest {
	return RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RemoteAdministrationSearchResults
func (a *RemoteAdministrationAPIService) PreviewRemoteAdministrationConfigurationsGetExecute(r RemoteAdministrationAPIPreviewRemoteAdministrationConfigurationsGetRequest) (*RemoteAdministrationSearchResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RemoteAdministrationSearchResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemoteAdministrationAPIService.PreviewRemoteAdministrationConfigurationsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/preview/remote-administration-configurations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int32 = 0
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "")
	} else {
		var defaultValue int32 = 100
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
