/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type SsoOauthSessionTokensAPI interface {

	/*
	V1Oauth2SessionTokensGet Retrieve the access token and user information for the current session. 

	Retrieve the access token and user information for the current session.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest
	*/
	V1Oauth2SessionTokensGet(ctx context.Context) SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest

	// V1Oauth2SessionTokensGetExecute executes the request
	//  @return OauthTokens
	V1Oauth2SessionTokensGetExecute(r SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest) (*OauthTokens, *http.Response, error)
}

// SsoOauthSessionTokensAPIService SsoOauthSessionTokensAPI service
type SsoOauthSessionTokensAPIService service

type SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest struct {
	ctx context.Context
	ApiService SsoOauthSessionTokensAPI
}

func (r SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest) Execute() (*OauthTokens, *http.Response, error) {
	return r.ApiService.V1Oauth2SessionTokensGetExecute(r)
}

/*
V1Oauth2SessionTokensGet Retrieve the access token and user information for the current session. 

Retrieve the access token and user information for the current session.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest
*/
func (a *SsoOauthSessionTokensAPIService) V1Oauth2SessionTokensGet(ctx context.Context) SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest {
	return SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OauthTokens
func (a *SsoOauthSessionTokensAPIService) V1Oauth2SessionTokensGetExecute(r SsoOauthSessionTokensAPIV1Oauth2SessionTokensGetRequest) (*OauthTokens, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OauthTokens
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SsoOauthSessionTokensAPIService.V1Oauth2SessionTokensGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/oauth2/session-tokens"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
