/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type SelfServiceAPI interface {

	/*
	V1SelfServiceSettingsGet Get an object representation of Self Service settings 

	gets an object representation of Self Service settings


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SelfServiceAPIV1SelfServiceSettingsGetRequest
	*/
	V1SelfServiceSettingsGet(ctx context.Context) SelfServiceAPIV1SelfServiceSettingsGetRequest

	// V1SelfServiceSettingsGetExecute executes the request
	//  @return SelfServiceSettings
	V1SelfServiceSettingsGetExecute(r SelfServiceAPIV1SelfServiceSettingsGetRequest) (*SelfServiceSettings, *http.Response, error)

	/*
	V1SelfServiceSettingsPut Put an object representation of Self Service settings 

	puts an object representation of Self Service settings


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SelfServiceAPIV1SelfServiceSettingsPutRequest
	*/
	V1SelfServiceSettingsPut(ctx context.Context) SelfServiceAPIV1SelfServiceSettingsPutRequest

	// V1SelfServiceSettingsPutExecute executes the request
	//  @return SelfServiceSettings
	V1SelfServiceSettingsPutExecute(r SelfServiceAPIV1SelfServiceSettingsPutRequest) (*SelfServiceSettings, *http.Response, error)
}

// SelfServiceAPIService SelfServiceAPI service
type SelfServiceAPIService service

type SelfServiceAPIV1SelfServiceSettingsGetRequest struct {
	ctx context.Context
	ApiService SelfServiceAPI
}

func (r SelfServiceAPIV1SelfServiceSettingsGetRequest) Execute() (*SelfServiceSettings, *http.Response, error) {
	return r.ApiService.V1SelfServiceSettingsGetExecute(r)
}

/*
V1SelfServiceSettingsGet Get an object representation of Self Service settings 

gets an object representation of Self Service settings


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SelfServiceAPIV1SelfServiceSettingsGetRequest
*/
func (a *SelfServiceAPIService) V1SelfServiceSettingsGet(ctx context.Context) SelfServiceAPIV1SelfServiceSettingsGetRequest {
	return SelfServiceAPIV1SelfServiceSettingsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SelfServiceSettings
func (a *SelfServiceAPIService) V1SelfServiceSettingsGetExecute(r SelfServiceAPIV1SelfServiceSettingsGetRequest) (*SelfServiceSettings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SelfServiceSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SelfServiceAPIService.V1SelfServiceSettingsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/self-service/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SelfServiceAPIV1SelfServiceSettingsPutRequest struct {
	ctx context.Context
	ApiService SelfServiceAPI
	selfServiceSettings *SelfServiceSettings
}

// object that contains all editable global fields to alter Self Service settings 
func (r SelfServiceAPIV1SelfServiceSettingsPutRequest) SelfServiceSettings(selfServiceSettings SelfServiceSettings) SelfServiceAPIV1SelfServiceSettingsPutRequest {
	r.selfServiceSettings = &selfServiceSettings
	return r
}

func (r SelfServiceAPIV1SelfServiceSettingsPutRequest) Execute() (*SelfServiceSettings, *http.Response, error) {
	return r.ApiService.V1SelfServiceSettingsPutExecute(r)
}

/*
V1SelfServiceSettingsPut Put an object representation of Self Service settings 

puts an object representation of Self Service settings


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SelfServiceAPIV1SelfServiceSettingsPutRequest
*/
func (a *SelfServiceAPIService) V1SelfServiceSettingsPut(ctx context.Context) SelfServiceAPIV1SelfServiceSettingsPutRequest {
	return SelfServiceAPIV1SelfServiceSettingsPutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SelfServiceSettings
func (a *SelfServiceAPIService) V1SelfServiceSettingsPutExecute(r SelfServiceAPIV1SelfServiceSettingsPutRequest) (*SelfServiceSettings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SelfServiceSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SelfServiceAPIService.V1SelfServiceSettingsPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/self-service/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.selfServiceSettings == nil {
		return localVarReturnValue, nil, reportError("selfServiceSettings is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.selfServiceSettings
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
