/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


type SelfServiceBrandingPreviewAPI interface {

	/*
	SelfServiceBrandingImagesPost Upload an image 

	Uploads an image

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest
	*/
	SelfServiceBrandingImagesPost(ctx context.Context) SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest

	// SelfServiceBrandingImagesPostExecute executes the request
	//  @return BrandingImageUrl
	SelfServiceBrandingImagesPostExecute(r SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest) (*BrandingImageUrl, *http.Response, error)
}

// SelfServiceBrandingPreviewAPIService SelfServiceBrandingPreviewAPI service
type SelfServiceBrandingPreviewAPIService service

type SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest struct {
	ctx context.Context
	ApiService SelfServiceBrandingPreviewAPI
	file *os.File
}

// The file to upload
func (r SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest) File(file *os.File) SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest {
	r.file = file
	return r
}

func (r SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest) Execute() (*BrandingImageUrl, *http.Response, error) {
	return r.ApiService.SelfServiceBrandingImagesPostExecute(r)
}

/*
SelfServiceBrandingImagesPost Upload an image 

Uploads an image

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest
*/
func (a *SelfServiceBrandingPreviewAPIService) SelfServiceBrandingImagesPost(ctx context.Context) SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest {
	return SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BrandingImageUrl
func (a *SelfServiceBrandingPreviewAPIService) SelfServiceBrandingImagesPostExecute(r SelfServiceBrandingPreviewAPISelfServiceBrandingImagesPostRequest) (*BrandingImageUrl, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BrandingImageUrl
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SelfServiceBrandingPreviewAPIService.SelfServiceBrandingImagesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/self-service/branding/images"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
