/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


type JamfProServerUrlPreviewApi interface {

	/*
	V1JamfProServerUrlGet Get Jamf Pro Server URL settings 

	Get Jamf Pro Server URL settings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1JamfProServerUrlGetRequest
	*/
	V1JamfProServerUrlGet(ctx context.Context) ApiV1JamfProServerUrlGetRequest

	// V1JamfProServerUrlGetExecute executes the request
	//  @return JamfProServerUrl
	V1JamfProServerUrlGetExecute(r ApiV1JamfProServerUrlGetRequest) (*JamfProServerUrl, *http.Response, error)

	/*
	V1JamfProServerUrlHistoryGet Get Jamf Pro Server URL settings history 

	Gets Jamf Pro Server URL settings history

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1JamfProServerUrlHistoryGetRequest
	*/
	V1JamfProServerUrlHistoryGet(ctx context.Context) ApiV1JamfProServerUrlHistoryGetRequest

	// V1JamfProServerUrlHistoryGetExecute executes the request
	//  @return HistorySearchResults
	V1JamfProServerUrlHistoryGetExecute(r ApiV1JamfProServerUrlHistoryGetRequest) (*HistorySearchResults, *http.Response, error)

	/*
	V1JamfProServerUrlHistoryPost Add Jamf Pro Server URL settings history notes 

	Adds Jamf Pro Server URL settings history notes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1JamfProServerUrlHistoryPostRequest
	*/
	V1JamfProServerUrlHistoryPost(ctx context.Context) ApiV1JamfProServerUrlHistoryPostRequest

	// V1JamfProServerUrlHistoryPostExecute executes the request
	//  @return ObjectHistory
	V1JamfProServerUrlHistoryPostExecute(r ApiV1JamfProServerUrlHistoryPostRequest) (*ObjectHistory, *http.Response, error)

	/*
	V1JamfProServerUrlPut Update Jamf Pro Server URL settings 

	Update Jamf Pro Server URL settings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1JamfProServerUrlPutRequest
	*/
	V1JamfProServerUrlPut(ctx context.Context) ApiV1JamfProServerUrlPutRequest

	// V1JamfProServerUrlPutExecute executes the request
	//  @return JamfProServerUrl
	V1JamfProServerUrlPutExecute(r ApiV1JamfProServerUrlPutRequest) (*JamfProServerUrl, *http.Response, error)
}

// JamfProServerUrlPreviewApiService JamfProServerUrlPreviewApi service
type JamfProServerUrlPreviewApiService service

type ApiV1JamfProServerUrlGetRequest struct {
	ctx context.Context
	ApiService JamfProServerUrlPreviewApi
}

func (r ApiV1JamfProServerUrlGetRequest) Execute() (*JamfProServerUrl, *http.Response, error) {
	return r.ApiService.V1JamfProServerUrlGetExecute(r)
}

/*
V1JamfProServerUrlGet Get Jamf Pro Server URL settings 

Get Jamf Pro Server URL settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1JamfProServerUrlGetRequest
*/
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlGet(ctx context.Context) ApiV1JamfProServerUrlGetRequest {
	return ApiV1JamfProServerUrlGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JamfProServerUrl
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlGetExecute(r ApiV1JamfProServerUrlGetRequest) (*JamfProServerUrl, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JamfProServerUrl
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfProServerUrlPreviewApiService.V1JamfProServerUrlGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jamf-pro-server-url"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1JamfProServerUrlHistoryGetRequest struct {
	ctx context.Context
	ApiService JamfProServerUrlPreviewApi
	page *int32
	size *int32
	pagesize *int32
	pageSize *int32
	sort *string
}

func (r ApiV1JamfProServerUrlHistoryGetRequest) Page(page int32) ApiV1JamfProServerUrlHistoryGetRequest {
	r.page = &page
	return r
}

// Deprecated
func (r ApiV1JamfProServerUrlHistoryGetRequest) Size(size int32) ApiV1JamfProServerUrlHistoryGetRequest {
	r.size = &size
	return r
}

// Deprecated
func (r ApiV1JamfProServerUrlHistoryGetRequest) Pagesize(pagesize int32) ApiV1JamfProServerUrlHistoryGetRequest {
	r.pagesize = &pagesize
	return r
}

func (r ApiV1JamfProServerUrlHistoryGetRequest) PageSize(pageSize int32) ApiV1JamfProServerUrlHistoryGetRequest {
	r.pageSize = &pageSize
	return r
}

// Sorting criteria in the format: property:asc/desc. Default sort is date:desc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;date:desc,name:asc 
func (r ApiV1JamfProServerUrlHistoryGetRequest) Sort(sort string) ApiV1JamfProServerUrlHistoryGetRequest {
	r.sort = &sort
	return r
}

func (r ApiV1JamfProServerUrlHistoryGetRequest) Execute() (*HistorySearchResults, *http.Response, error) {
	return r.ApiService.V1JamfProServerUrlHistoryGetExecute(r)
}

/*
V1JamfProServerUrlHistoryGet Get Jamf Pro Server URL settings history 

Gets Jamf Pro Server URL settings history

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1JamfProServerUrlHistoryGetRequest
*/
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlHistoryGet(ctx context.Context) ApiV1JamfProServerUrlHistoryGetRequest {
	return ApiV1JamfProServerUrlHistoryGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HistorySearchResults
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlHistoryGetExecute(r ApiV1JamfProServerUrlHistoryGetRequest) (*HistorySearchResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistorySearchResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfProServerUrlPreviewApiService.V1JamfProServerUrlHistoryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jamf-pro-server-url/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.size != nil {
		localVarQueryParams.Add("size", parameterToString(*r.size, ""))
	}
	if r.pagesize != nil {
		localVarQueryParams.Add("pagesize", parameterToString(*r.pagesize, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page-size", parameterToString(*r.pageSize, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1JamfProServerUrlHistoryPostRequest struct {
	ctx context.Context
	ApiService JamfProServerUrlPreviewApi
	objectHistoryNote *ObjectHistoryNote
}

// History notes to create
func (r ApiV1JamfProServerUrlHistoryPostRequest) ObjectHistoryNote(objectHistoryNote ObjectHistoryNote) ApiV1JamfProServerUrlHistoryPostRequest {
	r.objectHistoryNote = &objectHistoryNote
	return r
}

func (r ApiV1JamfProServerUrlHistoryPostRequest) Execute() (*ObjectHistory, *http.Response, error) {
	return r.ApiService.V1JamfProServerUrlHistoryPostExecute(r)
}

/*
V1JamfProServerUrlHistoryPost Add Jamf Pro Server URL settings history notes 

Adds Jamf Pro Server URL settings history notes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1JamfProServerUrlHistoryPostRequest
*/
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlHistoryPost(ctx context.Context) ApiV1JamfProServerUrlHistoryPostRequest {
	return ApiV1JamfProServerUrlHistoryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ObjectHistory
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlHistoryPostExecute(r ApiV1JamfProServerUrlHistoryPostRequest) (*ObjectHistory, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ObjectHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfProServerUrlPreviewApiService.V1JamfProServerUrlHistoryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jamf-pro-server-url/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.objectHistoryNote == nil {
		return localVarReturnValue, nil, reportError("objectHistoryNote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.objectHistoryNote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1JamfProServerUrlPutRequest struct {
	ctx context.Context
	ApiService JamfProServerUrlPreviewApi
	jamfProServerUrl *JamfProServerUrl
}

// Jamf Pro Server URL settings object
func (r ApiV1JamfProServerUrlPutRequest) JamfProServerUrl(jamfProServerUrl JamfProServerUrl) ApiV1JamfProServerUrlPutRequest {
	r.jamfProServerUrl = &jamfProServerUrl
	return r
}

func (r ApiV1JamfProServerUrlPutRequest) Execute() (*JamfProServerUrl, *http.Response, error) {
	return r.ApiService.V1JamfProServerUrlPutExecute(r)
}

/*
V1JamfProServerUrlPut Update Jamf Pro Server URL settings 

Update Jamf Pro Server URL settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1JamfProServerUrlPutRequest
*/
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlPut(ctx context.Context) ApiV1JamfProServerUrlPutRequest {
	return ApiV1JamfProServerUrlPutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JamfProServerUrl
func (a *JamfProServerUrlPreviewApiService) V1JamfProServerUrlPutExecute(r ApiV1JamfProServerUrlPutRequest) (*JamfProServerUrl, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JamfProServerUrl
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfProServerUrlPreviewApiService.V1JamfProServerUrlPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jamf-pro-server-url"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jamfProServerUrl == nil {
		return localVarReturnValue, nil, reportError("jamfProServerUrl is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jamfProServerUrl
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
