/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type CloudInformationAPI interface {

	/*
	V1CloudInformationGet Retrieve information related to cloud setup. 

	Retrieve information related to cloud setup.
Retrieves information related to cloud setup. Provides details about cloud instance configuration.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudInformationAPIV1CloudInformationGetRequest
	*/
	V1CloudInformationGet(ctx context.Context) CloudInformationAPIV1CloudInformationGetRequest

	// V1CloudInformationGetExecute executes the request
	//  @return CloudResponse
	V1CloudInformationGetExecute(r CloudInformationAPIV1CloudInformationGetRequest) (*CloudResponse, *http.Response, error)
}

// CloudInformationAPIService CloudInformationAPI service
type CloudInformationAPIService service

type CloudInformationAPIV1CloudInformationGetRequest struct {
	ctx context.Context
	ApiService CloudInformationAPI
}

func (r CloudInformationAPIV1CloudInformationGetRequest) Execute() (*CloudResponse, *http.Response, error) {
	return r.ApiService.V1CloudInformationGetExecute(r)
}

/*
V1CloudInformationGet Retrieve information related to cloud setup. 

Retrieve information related to cloud setup.
Retrieves information related to cloud setup. Provides details about cloud instance configuration.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CloudInformationAPIV1CloudInformationGetRequest
*/
func (a *CloudInformationAPIService) V1CloudInformationGet(ctx context.Context) CloudInformationAPIV1CloudInformationGetRequest {
	return CloudInformationAPIV1CloudInformationGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudResponse
func (a *CloudInformationAPIService) V1CloudInformationGetExecute(r CloudInformationAPIV1CloudInformationGetRequest) (*CloudResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudInformationAPIService.V1CloudInformationGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud-information"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
