/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type JamfCloudDistributionServiceAPI interface {

	/*
	V1JcdsFilesFileNameDelete Delete a file from the Jamf Cloud Distribution Service

	Delete a file by filename from the Jamf Cloud Distribution Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileName Name of the file that will be deleted from the Jamf Cloud Distribution Service.
	@return JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest

	Deprecated
	*/
	V1JcdsFilesFileNameDelete(ctx context.Context, fileName string) JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest

	// V1JcdsFilesFileNameDeleteExecute executes the request
	// Deprecated
	V1JcdsFilesFileNameDeleteExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest) (*http.Response, error)

	/*
	V1JcdsFilesFileNameGet Retrieve a download URL for a specific file from the Jamf Cloud Distribution Service

	Retrieve a download URL for a specific file from the Jamf Cloud Distribution Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileName Name of the file stored in the Jamf Cloud Distribution Service.
	@return JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest

	Deprecated
	*/
	V1JcdsFilesFileNameGet(ctx context.Context, fileName string) JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest

	// V1JcdsFilesFileNameGetExecute executes the request
	//  @return DownloadUrl
	// Deprecated
	V1JcdsFilesFileNameGetExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest) (*DownloadUrl, *http.Response, error)

	/*
	V1JcdsFilesGet Retrieve a list of files and file metadata from the Jamf Cloud Distribution Service

	Retrieve a list of files and file metadata from the Jamf Cloud Distribution Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest

	Deprecated
	*/
	V1JcdsFilesGet(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest

	// V1JcdsFilesGetExecute executes the request
	//  @return []FileData
	// Deprecated
	V1JcdsFilesGetExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest) ([]FileData, *http.Response, error)

	/*
	V1JcdsFilesPost Initiate an upload to the Jamf Cloud Distribution Service

	Creates a temporary record and returns the credentials and information needed for uploading the file to the Jamf Cloud Distribution Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest

	Deprecated
	*/
	V1JcdsFilesPost(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest

	// V1JcdsFilesPostExecute executes the request
	//  @return Credentials
	// Deprecated
	V1JcdsFilesPostExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest) (*Credentials, *http.Response, error)

	/*
	V1JcdsRefreshInventoryPost Refreshes the inventory and status of uploads in Jamf Pro. This will update the  status of uploads in the Jamf Pro database and allow the uploads to be deployed. 

	Refreshes the inventory and status of uploads in Jamf Pro. This will update the 
status of uploads in the Jamf Pro database and allow the uploads to be deployed.
Using the filename as a query parameter will query JCDS for the availability of
the file using an exponential back-off during the allocated time period. If the
filename is not supplied, all inventory will be refreshed, and this action is
limited to once every 15 seconds.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest

	Deprecated
	*/
	V1JcdsRefreshInventoryPost(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest

	// V1JcdsRefreshInventoryPostExecute executes the request
	// Deprecated
	V1JcdsRefreshInventoryPostExecute(r JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest) (*http.Response, error)

	/*
	V1JcdsRenewCredentialsPost Renew credentials for an upload to the Jamf Cloud Distribution Service

	Renews the credentials needed for uploading the file to the Jamf Cloud Distribution Service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest

	Deprecated
	*/
	V1JcdsRenewCredentialsPost(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest

	// V1JcdsRenewCredentialsPostExecute executes the request
	//  @return Credentials
	// Deprecated
	V1JcdsRenewCredentialsPostExecute(r JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest) (*Credentials, *http.Response, error)
}

// JamfCloudDistributionServiceAPIService JamfCloudDistributionServiceAPI service
type JamfCloudDistributionServiceAPIService service

type JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest struct {
	ctx context.Context
	ApiService JamfCloudDistributionServiceAPI
	fileName string
}

func (r JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1JcdsFilesFileNameDeleteExecute(r)
}

/*
V1JcdsFilesFileNameDelete Delete a file from the Jamf Cloud Distribution Service

Delete a file by filename from the Jamf Cloud Distribution Service.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fileName Name of the file that will be deleted from the Jamf Cloud Distribution Service.
 @return JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest

Deprecated
*/
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesFileNameDelete(ctx context.Context, fileName string) JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest {
	return JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest{
		ApiService: a,
		ctx: ctx,
		fileName: fileName,
	}
}

// Execute executes the request
// Deprecated
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesFileNameDeleteExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesFileNameDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfCloudDistributionServiceAPIService.V1JcdsFilesFileNameDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jcds/files/{fileName}"
	localVarPath = strings.Replace(localVarPath, "{"+"fileName"+"}", url.PathEscape(parameterValueToString(r.fileName, "fileName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest struct {
	ctx context.Context
	ApiService JamfCloudDistributionServiceAPI
	fileName string
}

func (r JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest) Execute() (*DownloadUrl, *http.Response, error) {
	return r.ApiService.V1JcdsFilesFileNameGetExecute(r)
}

/*
V1JcdsFilesFileNameGet Retrieve a download URL for a specific file from the Jamf Cloud Distribution Service

Retrieve a download URL for a specific file from the Jamf Cloud Distribution Service.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fileName Name of the file stored in the Jamf Cloud Distribution Service.
 @return JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest

Deprecated
*/
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesFileNameGet(ctx context.Context, fileName string) JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest {
	return JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest{
		ApiService: a,
		ctx: ctx,
		fileName: fileName,
	}
}

// Execute executes the request
//  @return DownloadUrl
// Deprecated
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesFileNameGetExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesFileNameGetRequest) (*DownloadUrl, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DownloadUrl
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfCloudDistributionServiceAPIService.V1JcdsFilesFileNameGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jcds/files/{fileName}"
	localVarPath = strings.Replace(localVarPath, "{"+"fileName"+"}", url.PathEscape(parameterValueToString(r.fileName, "fileName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest struct {
	ctx context.Context
	ApiService JamfCloudDistributionServiceAPI
}

func (r JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest) Execute() ([]FileData, *http.Response, error) {
	return r.ApiService.V1JcdsFilesGetExecute(r)
}

/*
V1JcdsFilesGet Retrieve a list of files and file metadata from the Jamf Cloud Distribution Service

Retrieve a list of files and file metadata from the Jamf Cloud Distribution Service.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest

Deprecated
*/
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesGet(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest {
	return JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []FileData
// Deprecated
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesGetExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesGetRequest) ([]FileData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []FileData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfCloudDistributionServiceAPIService.V1JcdsFilesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jcds/files"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest struct {
	ctx context.Context
	ApiService JamfCloudDistributionServiceAPI
}

func (r JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest) Execute() (*Credentials, *http.Response, error) {
	return r.ApiService.V1JcdsFilesPostExecute(r)
}

/*
V1JcdsFilesPost Initiate an upload to the Jamf Cloud Distribution Service

Creates a temporary record and returns the credentials and information needed for uploading the file to the Jamf Cloud Distribution Service.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest

Deprecated
*/
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesPost(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest {
	return JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Credentials
// Deprecated
func (a *JamfCloudDistributionServiceAPIService) V1JcdsFilesPostExecute(r JamfCloudDistributionServiceAPIV1JcdsFilesPostRequest) (*Credentials, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Credentials
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfCloudDistributionServiceAPIService.V1JcdsFilesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jcds/files"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest struct {
	ctx context.Context
	ApiService JamfCloudDistributionServiceAPI
	fileName *string
}

// Name of the file to check the availability of in JCDS. If available, the inventory and status will be updated in Jamf Pro. If no file is specified, it will force an immediate inventory refresh at a rate-limit of once every 15 seconds.
func (r JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest) FileName(fileName string) JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest {
	r.fileName = &fileName
	return r
}

func (r JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1JcdsRefreshInventoryPostExecute(r)
}

/*
V1JcdsRefreshInventoryPost Refreshes the inventory and status of uploads in Jamf Pro. This will update the  status of uploads in the Jamf Pro database and allow the uploads to be deployed. 

Refreshes the inventory and status of uploads in Jamf Pro. This will update the 
status of uploads in the Jamf Pro database and allow the uploads to be deployed.
Using the filename as a query parameter will query JCDS for the availability of
the file using an exponential back-off during the allocated time period. If the
filename is not supplied, all inventory will be refreshed, and this action is
limited to once every 15 seconds.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest

Deprecated
*/
func (a *JamfCloudDistributionServiceAPIService) V1JcdsRefreshInventoryPost(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest {
	return JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
// Deprecated
func (a *JamfCloudDistributionServiceAPIService) V1JcdsRefreshInventoryPostExecute(r JamfCloudDistributionServiceAPIV1JcdsRefreshInventoryPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfCloudDistributionServiceAPIService.V1JcdsRefreshInventoryPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jcds/refresh-inventory"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fileName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file-name", r.fileName, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "file-name", defaultValue, "form", "")
		r.fileName = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest struct {
	ctx context.Context
	ApiService JamfCloudDistributionServiceAPI
}

func (r JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest) Execute() (*Credentials, *http.Response, error) {
	return r.ApiService.V1JcdsRenewCredentialsPostExecute(r)
}

/*
V1JcdsRenewCredentialsPost Renew credentials for an upload to the Jamf Cloud Distribution Service

Renews the credentials needed for uploading the file to the Jamf Cloud Distribution Service.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest

Deprecated
*/
func (a *JamfCloudDistributionServiceAPIService) V1JcdsRenewCredentialsPost(ctx context.Context) JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest {
	return JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Credentials
// Deprecated
func (a *JamfCloudDistributionServiceAPIService) V1JcdsRenewCredentialsPostExecute(r JamfCloudDistributionServiceAPIV1JcdsRenewCredentialsPostRequest) (*Credentials, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Credentials
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JamfCloudDistributionServiceAPIService.V1JcdsRenewCredentialsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/jcds/renew-credentials"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
