/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type LocalesPreviewAPI interface {

	/*
	V1LocalesGet Return locales that can be used in other features 

	Returns locales that can be used in other features.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LocalesPreviewAPIV1LocalesGetRequest
	*/
	V1LocalesGet(ctx context.Context) LocalesPreviewAPIV1LocalesGetRequest

	// V1LocalesGetExecute executes the request
	//  @return []Locale
	V1LocalesGetExecute(r LocalesPreviewAPIV1LocalesGetRequest) ([]Locale, *http.Response, error)
}

// LocalesPreviewAPIService LocalesPreviewAPI service
type LocalesPreviewAPIService service

type LocalesPreviewAPIV1LocalesGetRequest struct {
	ctx context.Context
	ApiService LocalesPreviewAPI
}

func (r LocalesPreviewAPIV1LocalesGetRequest) Execute() ([]Locale, *http.Response, error) {
	return r.ApiService.V1LocalesGetExecute(r)
}

/*
V1LocalesGet Return locales that can be used in other features 

Returns locales that can be used in other features.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LocalesPreviewAPIV1LocalesGetRequest
*/
func (a *LocalesPreviewAPIService) V1LocalesGet(ctx context.Context) LocalesPreviewAPIV1LocalesGetRequest {
	return LocalesPreviewAPIV1LocalesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Locale
func (a *LocalesPreviewAPIService) V1LocalesGetExecute(r LocalesPreviewAPIV1LocalesGetRequest) ([]Locale, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Locale
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LocalesPreviewAPIService.V1LocalesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/locales"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
