/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type ParentAppPreviewAPI interface {

	/*
	V1ParentAppGet Get the current Jamf Parent app settings 

	Get the current Jamf Parent app settings


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ParentAppPreviewAPIV1ParentAppGetRequest
	*/
	V1ParentAppGet(ctx context.Context) ParentAppPreviewAPIV1ParentAppGetRequest

	// V1ParentAppGetExecute executes the request
	//  @return ParentApp
	V1ParentAppGetExecute(r ParentAppPreviewAPIV1ParentAppGetRequest) (*ParentApp, *http.Response, error)

	/*
	V1ParentAppHistoryGet Get Jamf Parent app settings history 

	Gets Jamf Parent app settings history


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ParentAppPreviewAPIV1ParentAppHistoryGetRequest
	*/
	V1ParentAppHistoryGet(ctx context.Context) ParentAppPreviewAPIV1ParentAppHistoryGetRequest

	// V1ParentAppHistoryGetExecute executes the request
	//  @return HistorySearchResults
	V1ParentAppHistoryGetExecute(r ParentAppPreviewAPIV1ParentAppHistoryGetRequest) (*HistorySearchResults, *http.Response, error)

	/*
	V1ParentAppHistoryPost Add Jamf Parent app settings history notes 

	Adds Jamf Parent app settings history notes


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ParentAppPreviewAPIV1ParentAppHistoryPostRequest
	*/
	V1ParentAppHistoryPost(ctx context.Context) ParentAppPreviewAPIV1ParentAppHistoryPostRequest

	// V1ParentAppHistoryPostExecute executes the request
	//  @return ObjectHistory
	V1ParentAppHistoryPostExecute(r ParentAppPreviewAPIV1ParentAppHistoryPostRequest) (*ObjectHistory, *http.Response, error)

	/*
	V1ParentAppPut Update Jamf Parent app settings 

	Update Jamf Parent app settings


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ParentAppPreviewAPIV1ParentAppPutRequest
	*/
	V1ParentAppPut(ctx context.Context) ParentAppPreviewAPIV1ParentAppPutRequest

	// V1ParentAppPutExecute executes the request
	//  @return ParentApp
	V1ParentAppPutExecute(r ParentAppPreviewAPIV1ParentAppPutRequest) (*ParentApp, *http.Response, error)
}

// ParentAppPreviewAPIService ParentAppPreviewAPI service
type ParentAppPreviewAPIService service

type ParentAppPreviewAPIV1ParentAppGetRequest struct {
	ctx context.Context
	ApiService ParentAppPreviewAPI
}

func (r ParentAppPreviewAPIV1ParentAppGetRequest) Execute() (*ParentApp, *http.Response, error) {
	return r.ApiService.V1ParentAppGetExecute(r)
}

/*
V1ParentAppGet Get the current Jamf Parent app settings 

Get the current Jamf Parent app settings


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ParentAppPreviewAPIV1ParentAppGetRequest
*/
func (a *ParentAppPreviewAPIService) V1ParentAppGet(ctx context.Context) ParentAppPreviewAPIV1ParentAppGetRequest {
	return ParentAppPreviewAPIV1ParentAppGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ParentApp
func (a *ParentAppPreviewAPIService) V1ParentAppGetExecute(r ParentAppPreviewAPIV1ParentAppGetRequest) (*ParentApp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ParentApp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParentAppPreviewAPIService.V1ParentAppGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parent-app"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ParentAppPreviewAPIV1ParentAppHistoryGetRequest struct {
	ctx context.Context
	ApiService ParentAppPreviewAPI
	page *int64
	pageSize *int64
	filter *string
	sort *string
}

func (r ParentAppPreviewAPIV1ParentAppHistoryGetRequest) Page(page int64) ParentAppPreviewAPIV1ParentAppHistoryGetRequest {
	r.page = &page
	return r
}

func (r ParentAppPreviewAPIV1ParentAppHistoryGetRequest) PageSize(pageSize int64) ParentAppPreviewAPIV1ParentAppHistoryGetRequest {
	r.pageSize = &pageSize
	return r
}

// Query in the RSQL format, allowing to filter results. Default filter is empty query - returning all results for the requested page. Fields allowed in the query: status, updated, version This param can be combined with paging and sorting. Example: filter&#x3D;username!&#x3D;admin and details&#x3D;&#x3D;*disabled* and date&lt;2019-12-15
func (r ParentAppPreviewAPIV1ParentAppHistoryGetRequest) Filter(filter string) ParentAppPreviewAPIV1ParentAppHistoryGetRequest {
	r.filter = &filter
	return r
}

// Sorting criteria in the format: property:asc/desc. Default sort is date:desc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;date:desc,name:asc 
func (r ParentAppPreviewAPIV1ParentAppHistoryGetRequest) Sort(sort string) ParentAppPreviewAPIV1ParentAppHistoryGetRequest {
	r.sort = &sort
	return r
}

func (r ParentAppPreviewAPIV1ParentAppHistoryGetRequest) Execute() (*HistorySearchResults, *http.Response, error) {
	return r.ApiService.V1ParentAppHistoryGetExecute(r)
}

/*
V1ParentAppHistoryGet Get Jamf Parent app settings history 

Gets Jamf Parent app settings history


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ParentAppPreviewAPIV1ParentAppHistoryGetRequest
*/
func (a *ParentAppPreviewAPIService) V1ParentAppHistoryGet(ctx context.Context) ParentAppPreviewAPIV1ParentAppHistoryGetRequest {
	return ParentAppPreviewAPIV1ParentAppHistoryGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HistorySearchResults
func (a *ParentAppPreviewAPIService) V1ParentAppHistoryGetExecute(r ParentAppPreviewAPIV1ParentAppHistoryGetRequest) (*HistorySearchResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistorySearchResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParentAppPreviewAPIService.V1ParentAppHistoryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parent-app/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int64 = 0
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "")
	} else {
		var defaultValue int64 = 100
		r.pageSize = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	} else {
		var defaultValue string = ""
		r.filter = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "")
	} else {
		var defaultValue string = "date:desc"
		r.sort = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ParentAppPreviewAPIV1ParentAppHistoryPostRequest struct {
	ctx context.Context
	ApiService ParentAppPreviewAPI
	objectHistoryNote *ObjectHistoryNote
}

// history notes to create
func (r ParentAppPreviewAPIV1ParentAppHistoryPostRequest) ObjectHistoryNote(objectHistoryNote ObjectHistoryNote) ParentAppPreviewAPIV1ParentAppHistoryPostRequest {
	r.objectHistoryNote = &objectHistoryNote
	return r
}

func (r ParentAppPreviewAPIV1ParentAppHistoryPostRequest) Execute() (*ObjectHistory, *http.Response, error) {
	return r.ApiService.V1ParentAppHistoryPostExecute(r)
}

/*
V1ParentAppHistoryPost Add Jamf Parent app settings history notes 

Adds Jamf Parent app settings history notes


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ParentAppPreviewAPIV1ParentAppHistoryPostRequest
*/
func (a *ParentAppPreviewAPIService) V1ParentAppHistoryPost(ctx context.Context) ParentAppPreviewAPIV1ParentAppHistoryPostRequest {
	return ParentAppPreviewAPIV1ParentAppHistoryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ObjectHistory
func (a *ParentAppPreviewAPIService) V1ParentAppHistoryPostExecute(r ParentAppPreviewAPIV1ParentAppHistoryPostRequest) (*ObjectHistory, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ObjectHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParentAppPreviewAPIService.V1ParentAppHistoryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parent-app/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.objectHistoryNote == nil {
		return localVarReturnValue, nil, reportError("objectHistoryNote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.objectHistoryNote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ParentAppPreviewAPIV1ParentAppPutRequest struct {
	ctx context.Context
	ApiService ParentAppPreviewAPI
	parentApp *ParentApp
}

// Jamf Parent app settings to save.
func (r ParentAppPreviewAPIV1ParentAppPutRequest) ParentApp(parentApp ParentApp) ParentAppPreviewAPIV1ParentAppPutRequest {
	r.parentApp = &parentApp
	return r
}

func (r ParentAppPreviewAPIV1ParentAppPutRequest) Execute() (*ParentApp, *http.Response, error) {
	return r.ApiService.V1ParentAppPutExecute(r)
}

/*
V1ParentAppPut Update Jamf Parent app settings 

Update Jamf Parent app settings


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ParentAppPreviewAPIV1ParentAppPutRequest
*/
func (a *ParentAppPreviewAPIService) V1ParentAppPut(ctx context.Context) ParentAppPreviewAPIV1ParentAppPutRequest {
	return ParentAppPreviewAPIV1ParentAppPutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ParentApp
func (a *ParentAppPreviewAPIService) V1ParentAppPutExecute(r ParentAppPreviewAPIV1ParentAppPutRequest) (*ParentApp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ParentApp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParentAppPreviewAPIService.V1ParentAppPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parent-app"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.parentApp == nil {
		return localVarReturnValue, nil, reportError("parentApp is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.parentApp
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
