/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


type ConditionalAccessApi interface {

	/*
	V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGet Get compliance information for a single computer device

	Return basic compliance information for the given computer device

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceId ID of the device the query pertains
	@return ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest
	*/
	V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGet(ctx context.Context, deviceId string) ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest

	// V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetExecute executes the request
	//  @return []DeviceComplianceInformation
	V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetExecute(r ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest) ([]DeviceComplianceInformation, *http.Response, error)

	/*
	V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGet Get compliance information for a single mobile device

	Return basic compliance information for the given mobile device

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceId ID of the device the query pertains
	@return ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest
	*/
	V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGet(ctx context.Context, deviceId string) ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest

	// V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetExecute executes the request
	//  @return []DeviceComplianceInformation
	V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetExecute(r ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest) ([]DeviceComplianceInformation, *http.Response, error)
}

// ConditionalAccessApiService ConditionalAccessApi service
type ConditionalAccessApiService service

type ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest struct {
	ctx context.Context
	ApiService ConditionalAccessApi
	deviceId string
}

func (r ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest) Execute() ([]DeviceComplianceInformation, *http.Response, error) {
	return r.ApiService.V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetExecute(r)
}

/*
V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGet Get compliance information for a single computer device

Return basic compliance information for the given computer device

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceId ID of the device the query pertains
 @return ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest
*/
func (a *ConditionalAccessApiService) V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGet(ctx context.Context, deviceId string) ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest {
	return ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest{
		ApiService: a,
		ctx: ctx,
		deviceId: deviceId,
	}
}

// Execute executes the request
//  @return []DeviceComplianceInformation
func (a *ConditionalAccessApiService) V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetExecute(r ApiV1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGetRequest) ([]DeviceComplianceInformation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DeviceComplianceInformation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConditionalAccessApiService.V1ConditionalAccessDeviceComplianceInformationComputerDeviceIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/conditional-access/device-compliance-information/computer/{deviceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceId"+"}", url.PathEscape(parameterToString(r.deviceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest struct {
	ctx context.Context
	ApiService ConditionalAccessApi
	deviceId string
}

func (r ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest) Execute() ([]DeviceComplianceInformation, *http.Response, error) {
	return r.ApiService.V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetExecute(r)
}

/*
V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGet Get compliance information for a single mobile device

Return basic compliance information for the given mobile device

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceId ID of the device the query pertains
 @return ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest
*/
func (a *ConditionalAccessApiService) V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGet(ctx context.Context, deviceId string) ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest {
	return ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest{
		ApiService: a,
		ctx: ctx,
		deviceId: deviceId,
	}
}

// Execute executes the request
//  @return []DeviceComplianceInformation
func (a *ConditionalAccessApiService) V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetExecute(r ApiV1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGetRequest) ([]DeviceComplianceInformation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DeviceComplianceInformation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConditionalAccessApiService.V1ConditionalAccessDeviceComplianceInformationMobileDeviceIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/conditional-access/device-compliance-information/mobile/{deviceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceId"+"}", url.PathEscape(parameterToString(r.deviceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
