/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type AccountsAPI interface {

	/*
	V1AccountsGet Get user accounts

	Get all user accounts with pagination, sorting, and filtering support.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AccountsAPIV1AccountsGetRequest
	*/
	V1AccountsGet(ctx context.Context) AccountsAPIV1AccountsGetRequest

	// V1AccountsGetExecute executes the request
	//  @return UserAccountSearchResults
	V1AccountsGetExecute(r AccountsAPIV1AccountsGetRequest) (*UserAccountSearchResults, *http.Response, error)

	/*
	V1AccountsIdDelete Deletes the user account. 

	Deletes the user account for the given id.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id of target account
	@return AccountsAPIV1AccountsIdDeleteRequest
	*/
	V1AccountsIdDelete(ctx context.Context, id string) AccountsAPIV1AccountsIdDeleteRequest

	// V1AccountsIdDeleteExecute executes the request
	V1AccountsIdDeleteExecute(r AccountsAPIV1AccountsIdDeleteRequest) (*http.Response, error)

	/*
	V1AccountsIdGet Gets the user account. 

	Gets the user account for the given id.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id of target account
	@return AccountsAPIV1AccountsIdGetRequest
	*/
	V1AccountsIdGet(ctx context.Context, id string) AccountsAPIV1AccountsIdGetRequest

	// V1AccountsIdGetExecute executes the request
	//  @return UserAccount
	V1AccountsIdGetExecute(r AccountsAPIV1AccountsIdGetRequest) (*UserAccount, *http.Response, error)

	/*
	V1AccountsPost Adds new account. 

	Adds the user account provided.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AccountsAPIV1AccountsPostRequest
	*/
	V1AccountsPost(ctx context.Context) AccountsAPIV1AccountsPostRequest

	// V1AccountsPostExecute executes the request
	//  @return UserAccount
	V1AccountsPostExecute(r AccountsAPIV1AccountsPostRequest) (*UserAccount, *http.Response, error)
}

// AccountsAPIService AccountsAPI service
type AccountsAPIService service

type AccountsAPIV1AccountsGetRequest struct {
	ctx context.Context
	ApiService AccountsAPI
	page *int64
	pageSize *int64
	sort *[]string
	filter *string
}

func (r AccountsAPIV1AccountsGetRequest) Page(page int64) AccountsAPIV1AccountsGetRequest {
	r.page = &page
	return r
}

func (r AccountsAPIV1AccountsGetRequest) PageSize(pageSize int64) AccountsAPIV1AccountsGetRequest {
	r.pageSize = &pageSize
	return r
}

// Sorting criteria in the format: property:asc/desc. Default sort is username:desc. Multiple sort criteria are supported and must be separated with a comma. Accepts fields: id, lastPasswordChange, failedLoginAttempts, username, realname, email, phone, ldapServerId, distinguishedName, siteId, privilegeLevel, changePasswordOnNextLogin, accountStatus.  If any other field is passed it will be ignored in sorting operation and/or create unpredictable results. 
func (r AccountsAPIV1AccountsGetRequest) Sort(sort []string) AccountsAPIV1AccountsGetRequest {
	r.sort = &sort
	return r
}

// Query in the RSQL format to filter user accounts collection. An empty query returns all results for the requested page. Supported fields: id, lastPasswordChange, failedLoginAttempts, username, realname, email, phone, ldapServerId, distinguishedName, siteId, privilegeLevel, changePasswordOnNextLogin, accountStatus. Multiple conditions can be combined using logical operators. This parameter can be used with paging and sorting parameters. Example: username&#x3D;&#x3D;\&quot;admin\&quot; and accountStatus&#x3D;&#x3D;Enabled and failedLoginAttempts&#x3D;&#x3D;0 
func (r AccountsAPIV1AccountsGetRequest) Filter(filter string) AccountsAPIV1AccountsGetRequest {
	r.filter = &filter
	return r
}

func (r AccountsAPIV1AccountsGetRequest) Execute() (*UserAccountSearchResults, *http.Response, error) {
	return r.ApiService.V1AccountsGetExecute(r)
}

/*
V1AccountsGet Get user accounts

Get all user accounts with pagination, sorting, and filtering support.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AccountsAPIV1AccountsGetRequest
*/
func (a *AccountsAPIService) V1AccountsGet(ctx context.Context) AccountsAPIV1AccountsGetRequest {
	return AccountsAPIV1AccountsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UserAccountSearchResults
func (a *AccountsAPIService) V1AccountsGetExecute(r AccountsAPIV1AccountsGetRequest) (*UserAccountSearchResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserAccountSearchResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsAPIService.V1AccountsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
        var defaultValue int64 = 0
        parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
        r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	} else {
        var defaultValue int64 = 100
        parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", defaultValue, "form", "")
        r.pageSize = &defaultValue
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "form", "multi")
		}
	} else {
        var defaultValue []string = []string{"username:asc"}
        parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "multi")
        r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	} else {
        var defaultValue string = ""
        parameterAddToHeaderOrQuery(localVarQueryParams, "filter", defaultValue, "form", "")
        r.filter = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsAPIV1AccountsIdDeleteRequest struct {
	ctx context.Context
	ApiService AccountsAPI
	id string
}

func (r AccountsAPIV1AccountsIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1AccountsIdDeleteExecute(r)
}

/*
V1AccountsIdDelete Deletes the user account. 

Deletes the user account for the given id.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id of target account
 @return AccountsAPIV1AccountsIdDeleteRequest
*/
func (a *AccountsAPIService) V1AccountsIdDelete(ctx context.Context, id string) AccountsAPIV1AccountsIdDeleteRequest {
	return AccountsAPIV1AccountsIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *AccountsAPIService) V1AccountsIdDeleteExecute(r AccountsAPIV1AccountsIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsAPIService.V1AccountsIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AccountsAPIV1AccountsIdGetRequest struct {
	ctx context.Context
	ApiService AccountsAPI
	id string
}

func (r AccountsAPIV1AccountsIdGetRequest) Execute() (*UserAccount, *http.Response, error) {
	return r.ApiService.V1AccountsIdGetExecute(r)
}

/*
V1AccountsIdGet Gets the user account. 

Gets the user account for the given id.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id of target account
 @return AccountsAPIV1AccountsIdGetRequest
*/
func (a *AccountsAPIService) V1AccountsIdGet(ctx context.Context, id string) AccountsAPIV1AccountsIdGetRequest {
	return AccountsAPIV1AccountsIdGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return UserAccount
func (a *AccountsAPIService) V1AccountsIdGetExecute(r AccountsAPIV1AccountsIdGetRequest) (*UserAccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsAPIService.V1AccountsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsAPIV1AccountsPostRequest struct {
	ctx context.Context
	ApiService AccountsAPI
	userAccount *UserAccount
}

func (r AccountsAPIV1AccountsPostRequest) UserAccount(userAccount UserAccount) AccountsAPIV1AccountsPostRequest {
	r.userAccount = &userAccount
	return r
}

func (r AccountsAPIV1AccountsPostRequest) Execute() (*UserAccount, *http.Response, error) {
	return r.ApiService.V1AccountsPostExecute(r)
}

/*
V1AccountsPost Adds new account. 

Adds the user account provided.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AccountsAPIV1AccountsPostRequest
*/
func (a *AccountsAPIService) V1AccountsPost(ctx context.Context) AccountsAPIV1AccountsPostRequest {
	return AccountsAPIV1AccountsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UserAccount
func (a *AccountsAPIService) V1AccountsPostExecute(r AccountsAPIV1AccountsPostRequest) (*UserAccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsAPIService.V1AccountsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userAccount == nil {
		return localVarReturnValue, nil, reportError("userAccount is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userAccount
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
