/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type AppStoreCountryCodesPreviewAPI interface {

	/*
	V1AppStoreCountryCodesGet Return a list of Countries and the associated Codes 

	Returns a list of countries and the associated codes that can be use for the App Store locale


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest
	*/
	V1AppStoreCountryCodesGet(ctx context.Context) AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest

	// V1AppStoreCountryCodesGetExecute executes the request
	//  @return CountryCodes
	V1AppStoreCountryCodesGetExecute(r AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest) (*CountryCodes, *http.Response, error)
}

// AppStoreCountryCodesPreviewAPIService AppStoreCountryCodesPreviewAPI service
type AppStoreCountryCodesPreviewAPIService service

type AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest struct {
	ctx context.Context
	ApiService AppStoreCountryCodesPreviewAPI
}

func (r AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest) Execute() (*CountryCodes, *http.Response, error) {
	return r.ApiService.V1AppStoreCountryCodesGetExecute(r)
}

/*
V1AppStoreCountryCodesGet Return a list of Countries and the associated Codes 

Returns a list of countries and the associated codes that can be use for the App Store locale


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest
*/
func (a *AppStoreCountryCodesPreviewAPIService) V1AppStoreCountryCodesGet(ctx context.Context) AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest {
	return AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CountryCodes
func (a *AppStoreCountryCodesPreviewAPIService) V1AppStoreCountryCodesGetExecute(r AppStoreCountryCodesPreviewAPIV1AppStoreCountryCodesGetRequest) (*CountryCodes, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountryCodes
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppStoreCountryCodesPreviewAPIService.V1AppStoreCountryCodesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-store-country-codes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
