/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// PatchPolicyLogsPreviewApiService PatchPolicyLogsPreviewApi service
type PatchPolicyLogsPreviewApiService service

type ApiPatchPatchPoliciesIdLogsGetRequest struct {
	ctx context.Context
	ApiService *PatchPolicyLogsPreviewApiService
	id int32
	deviceId *int32
}

// device id
func (r ApiPatchPatchPoliciesIdLogsGetRequest) DeviceId(deviceId int32) ApiPatchPatchPoliciesIdLogsGetRequest {
	r.deviceId = &deviceId
	return r
}

func (r ApiPatchPatchPoliciesIdLogsGetRequest) Execute() ([]PatchPolicyAttempt, *http.Response, error) {
	return r.ApiService.PatchPatchPoliciesIdLogsGetExecute(r)
}

/*
PatchPatchPoliciesIdLogsGet Return the Patch Policy Attempt details 

Returns the patch policy attempt details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id patch policy id
 @return ApiPatchPatchPoliciesIdLogsGetRequest
*/
func (a *PatchPolicyLogsPreviewApiService) PatchPatchPoliciesIdLogsGet(ctx context.Context, id int32) ApiPatchPatchPoliciesIdLogsGetRequest {
	return ApiPatchPatchPoliciesIdLogsGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []PatchPolicyAttempt
func (a *PatchPolicyLogsPreviewApiService) PatchPatchPoliciesIdLogsGetExecute(r ApiPatchPatchPoliciesIdLogsGetRequest) ([]PatchPolicyAttempt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PatchPolicyAttempt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PatchPolicyLogsPreviewApiService.PatchPatchPoliciesIdLogsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/patch/patch-policies/{id}/logs"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		localVarQueryParams.Add("device-id", parameterToString(*r.deviceId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
