/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type MobileDeviceAppsAPI interface {

	/*
	V1MobileDeviceAppsReinstallAppConfigPost Reinstall App Config for Managed iOS Apps 

	Redeploys the managed app configuration for a specific app on a specific device using the $APP_CONFIG_REINSTALL_CODE generated during deployment. 
This endpoint does not require authorization, only the re-install code. The code does not contain any user authentication information. 
For example usage, see the following Teacher app documentation: [Teacher App Manged App Configuration](https://learn.jamf.com/bundle/jamf-teacher-configuration-guide/page/Jamf_Teacher_Integration_with_Jamf_Pro.html)


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest
	*/
	V1MobileDeviceAppsReinstallAppConfigPost(ctx context.Context) MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest

	// V1MobileDeviceAppsReinstallAppConfigPostExecute executes the request
	V1MobileDeviceAppsReinstallAppConfigPostExecute(r MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest) (*http.Response, error)
}

// MobileDeviceAppsAPIService MobileDeviceAppsAPI service
type MobileDeviceAppsAPIService service

type MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest struct {
	ctx context.Context
	ApiService MobileDeviceAppsAPI
	appConfigReinstallCode *AppConfigReinstallCode
}

// The $APP_CONFIG_REINSTALL_CODE variable for the specific device and app supplied by the managed iOS app&#39;s current App Config. 
func (r MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest) AppConfigReinstallCode(appConfigReinstallCode AppConfigReinstallCode) MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest {
	r.appConfigReinstallCode = &appConfigReinstallCode
	return r
}

func (r MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1MobileDeviceAppsReinstallAppConfigPostExecute(r)
}

/*
V1MobileDeviceAppsReinstallAppConfigPost Reinstall App Config for Managed iOS Apps 

Redeploys the managed app configuration for a specific app on a specific device using the $APP_CONFIG_REINSTALL_CODE generated during deployment. 
This endpoint does not require authorization, only the re-install code. The code does not contain any user authentication information. 
For example usage, see the following Teacher app documentation: [Teacher App Manged App Configuration](https://learn.jamf.com/bundle/jamf-teacher-configuration-guide/page/Jamf_Teacher_Integration_with_Jamf_Pro.html)


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest
*/
func (a *MobileDeviceAppsAPIService) V1MobileDeviceAppsReinstallAppConfigPost(ctx context.Context) MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest {
	return MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *MobileDeviceAppsAPIService) V1MobileDeviceAppsReinstallAppConfigPostExecute(r MobileDeviceAppsAPIV1MobileDeviceAppsReinstallAppConfigPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MobileDeviceAppsAPIService.V1MobileDeviceAppsReinstallAppConfigPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mobile-device-apps/reinstall-app-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appConfigReinstallCode == nil {
		return nil, reportError("appConfigReinstallCode is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.appConfigReinstallCode
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
