/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type MdmRenewalAPI interface {

	/*
	V1MdmRenewalDeviceCommonDetailsClientManagementIdGet Get device common details for a client management ID 

	Retrieves device common details associated with a specific client management ID


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clientManagementId The client management ID to retrieve device common details for
	@return MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest
	*/
	V1MdmRenewalDeviceCommonDetailsClientManagementIdGet(ctx context.Context, clientManagementId string) MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest

	// V1MdmRenewalDeviceCommonDetailsClientManagementIdGetExecute executes the request
	//  @return DeviceCommonDetails
	V1MdmRenewalDeviceCommonDetailsClientManagementIdGetExecute(r MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest) (*DeviceCommonDetails, *http.Response, error)

	/*
	V1MdmRenewalDeviceCommonDetailsPatch Update device common details (partial update) 

	Partially updates existing device common details. The clientManagementId must be provided in the request body to identify which record to update. Only updates fields that are explicitly provided in the request - missing fields preserve their existing values. Only updates existing records; does not create new ones.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest
	*/
	V1MdmRenewalDeviceCommonDetailsPatch(ctx context.Context) MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest

	// V1MdmRenewalDeviceCommonDetailsPatchExecute executes the request
	V1MdmRenewalDeviceCommonDetailsPatchExecute(r MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest) (*http.Response, error)

	/*
	V1MdmRenewalRenewalStrategiesClientManagementIdDelete Delete MDM renewal strategies for a client management ID 

	Deletes all MDM renewal strategies and errors associated with the specified client management ID


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clientManagementId The client management ID to delete renewal strategies for
	@return MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest
	*/
	V1MdmRenewalRenewalStrategiesClientManagementIdDelete(ctx context.Context, clientManagementId string) MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest

	// V1MdmRenewalRenewalStrategiesClientManagementIdDeleteExecute executes the request
	V1MdmRenewalRenewalStrategiesClientManagementIdDeleteExecute(r MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest) (*http.Response, error)

	/*
	V1MdmRenewalRenewalStrategiesClientManagementIdGet Get MDM renewal errors and strategies for a client management ID 

	Retrieves all MDM renewal errors and their associated renewal strategies for a specific client management ID


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clientManagementId The client management ID to retrieve renewal strategies for
	@return MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest
	*/
	V1MdmRenewalRenewalStrategiesClientManagementIdGet(ctx context.Context, clientManagementId string) MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest

	// V1MdmRenewalRenewalStrategiesClientManagementIdGetExecute executes the request
	//  @return []MdmRenewalErrorStrategiesResponse
	V1MdmRenewalRenewalStrategiesClientManagementIdGetExecute(r MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest) ([]MdmRenewalErrorStrategiesResponse, *http.Response, error)
}

// MdmRenewalAPIService MdmRenewalAPI service
type MdmRenewalAPIService service

type MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest struct {
	ctx context.Context
	ApiService MdmRenewalAPI
	clientManagementId string
}

func (r MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest) Execute() (*DeviceCommonDetails, *http.Response, error) {
	return r.ApiService.V1MdmRenewalDeviceCommonDetailsClientManagementIdGetExecute(r)
}

/*
V1MdmRenewalDeviceCommonDetailsClientManagementIdGet Get device common details for a client management ID 

Retrieves device common details associated with a specific client management ID


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientManagementId The client management ID to retrieve device common details for
 @return MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest
*/
func (a *MdmRenewalAPIService) V1MdmRenewalDeviceCommonDetailsClientManagementIdGet(ctx context.Context, clientManagementId string) MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest {
	return MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest{
		ApiService: a,
		ctx: ctx,
		clientManagementId: clientManagementId,
	}
}

// Execute executes the request
//  @return DeviceCommonDetails
func (a *MdmRenewalAPIService) V1MdmRenewalDeviceCommonDetailsClientManagementIdGetExecute(r MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsClientManagementIdGetRequest) (*DeviceCommonDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviceCommonDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmRenewalAPIService.V1MdmRenewalDeviceCommonDetailsClientManagementIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mdm-renewal/device-common-details/{clientManagementId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientManagementId"+"}", url.PathEscape(parameterValueToString(r.clientManagementId, "clientManagementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest struct {
	ctx context.Context
	ApiService MdmRenewalAPI
	deviceCommonDetailsRequest *DeviceCommonDetailsRequest
}

func (r MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest) DeviceCommonDetailsRequest(deviceCommonDetailsRequest DeviceCommonDetailsRequest) MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest {
	r.deviceCommonDetailsRequest = &deviceCommonDetailsRequest
	return r
}

func (r MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1MdmRenewalDeviceCommonDetailsPatchExecute(r)
}

/*
V1MdmRenewalDeviceCommonDetailsPatch Update device common details (partial update) 

Partially updates existing device common details. The clientManagementId must be provided in the request body to identify which record to update. Only updates fields that are explicitly provided in the request - missing fields preserve their existing values. Only updates existing records; does not create new ones.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest
*/
func (a *MdmRenewalAPIService) V1MdmRenewalDeviceCommonDetailsPatch(ctx context.Context) MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest {
	return MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *MdmRenewalAPIService) V1MdmRenewalDeviceCommonDetailsPatchExecute(r MdmRenewalAPIV1MdmRenewalDeviceCommonDetailsPatchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmRenewalAPIService.V1MdmRenewalDeviceCommonDetailsPatch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mdm-renewal/device-common-details"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceCommonDetailsRequest == nil {
		return nil, reportError("deviceCommonDetailsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deviceCommonDetailsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest struct {
	ctx context.Context
	ApiService MdmRenewalAPI
	clientManagementId string
}

func (r MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1MdmRenewalRenewalStrategiesClientManagementIdDeleteExecute(r)
}

/*
V1MdmRenewalRenewalStrategiesClientManagementIdDelete Delete MDM renewal strategies for a client management ID 

Deletes all MDM renewal strategies and errors associated with the specified client management ID


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientManagementId The client management ID to delete renewal strategies for
 @return MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest
*/
func (a *MdmRenewalAPIService) V1MdmRenewalRenewalStrategiesClientManagementIdDelete(ctx context.Context, clientManagementId string) MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest {
	return MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		clientManagementId: clientManagementId,
	}
}

// Execute executes the request
func (a *MdmRenewalAPIService) V1MdmRenewalRenewalStrategiesClientManagementIdDeleteExecute(r MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmRenewalAPIService.V1MdmRenewalRenewalStrategiesClientManagementIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mdm-renewal/renewal-strategies/{clientManagementId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientManagementId"+"}", url.PathEscape(parameterValueToString(r.clientManagementId, "clientManagementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest struct {
	ctx context.Context
	ApiService MdmRenewalAPI
	clientManagementId string
}

func (r MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest) Execute() ([]MdmRenewalErrorStrategiesResponse, *http.Response, error) {
	return r.ApiService.V1MdmRenewalRenewalStrategiesClientManagementIdGetExecute(r)
}

/*
V1MdmRenewalRenewalStrategiesClientManagementIdGet Get MDM renewal errors and strategies for a client management ID 

Retrieves all MDM renewal errors and their associated renewal strategies for a specific client management ID


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientManagementId The client management ID to retrieve renewal strategies for
 @return MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest
*/
func (a *MdmRenewalAPIService) V1MdmRenewalRenewalStrategiesClientManagementIdGet(ctx context.Context, clientManagementId string) MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest {
	return MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest{
		ApiService: a,
		ctx: ctx,
		clientManagementId: clientManagementId,
	}
}

// Execute executes the request
//  @return []MdmRenewalErrorStrategiesResponse
func (a *MdmRenewalAPIService) V1MdmRenewalRenewalStrategiesClientManagementIdGetExecute(r MdmRenewalAPIV1MdmRenewalRenewalStrategiesClientManagementIdGetRequest) ([]MdmRenewalErrorStrategiesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []MdmRenewalErrorStrategiesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmRenewalAPIService.V1MdmRenewalRenewalStrategiesClientManagementIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mdm-renewal/renewal-strategies/{clientManagementId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientManagementId"+"}", url.PathEscape(parameterValueToString(r.clientManagementId, "clientManagementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
