/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type AccountGroupsAPI interface {

	/*
	V1AccountGroupsGet Get account groups

	Get all account groups with pagination, sorting, and filtering support.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AccountGroupsAPIV1AccountGroupsGetRequest
	*/
	V1AccountGroupsGet(ctx context.Context) AccountGroupsAPIV1AccountGroupsGetRequest

	// V1AccountGroupsGetExecute executes the request
	//  @return AccountGroupSearchResultsV1
	V1AccountGroupsGetExecute(r AccountGroupsAPIV1AccountGroupsGetRequest) (*AccountGroupSearchResultsV1, *http.Response, error)

	/*
	V1AccountGroupsIdGet Gets the account group. 

	Gets the account group for the given id.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id of target account group
	@return AccountGroupsAPIV1AccountGroupsIdGetRequest
	*/
	V1AccountGroupsIdGet(ctx context.Context, id string) AccountGroupsAPIV1AccountGroupsIdGetRequest

	// V1AccountGroupsIdGetExecute executes the request
	//  @return AccountGroupV1
	V1AccountGroupsIdGetExecute(r AccountGroupsAPIV1AccountGroupsIdGetRequest) (*AccountGroupV1, *http.Response, error)
}

// AccountGroupsAPIService AccountGroupsAPI service
type AccountGroupsAPIService service

type AccountGroupsAPIV1AccountGroupsGetRequest struct {
	ctx context.Context
	ApiService AccountGroupsAPI
	page *int64
	pageSize *int64
	sort *[]string
	filter *string
}

func (r AccountGroupsAPIV1AccountGroupsGetRequest) Page(page int64) AccountGroupsAPIV1AccountGroupsGetRequest {
	r.page = &page
	return r
}

func (r AccountGroupsAPIV1AccountGroupsGetRequest) PageSize(pageSize int64) AccountGroupsAPIV1AccountGroupsGetRequest {
	r.pageSize = &pageSize
	return r
}

// Sorting criteria in the format: property:asc/desc. Default sort is name:asc. Multiple sort criteria are supported and must be separated with a comma. Accepts fields: id, name, siteId, ldapServerId. 
func (r AccountGroupsAPIV1AccountGroupsGetRequest) Sort(sort []string) AccountGroupsAPIV1AccountGroupsGetRequest {
	r.sort = &sort
	return r
}

// Query in the RSQL format to filter account groups collection. An empty query returns all results for the requested page. Supported fields: id, name, siteId, ldapServerId. Multiple conditions can be combined using logical operators. This parameter can be used with paging and sorting parameters. Example: name&#x3D;&#x3D;\&quot;Admins\&quot; and siteId&#x3D;&#x3D;-1 
func (r AccountGroupsAPIV1AccountGroupsGetRequest) Filter(filter string) AccountGroupsAPIV1AccountGroupsGetRequest {
	r.filter = &filter
	return r
}

func (r AccountGroupsAPIV1AccountGroupsGetRequest) Execute() (*AccountGroupSearchResultsV1, *http.Response, error) {
	return r.ApiService.V1AccountGroupsGetExecute(r)
}

/*
V1AccountGroupsGet Get account groups

Get all account groups with pagination, sorting, and filtering support.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AccountGroupsAPIV1AccountGroupsGetRequest
*/
func (a *AccountGroupsAPIService) V1AccountGroupsGet(ctx context.Context) AccountGroupsAPIV1AccountGroupsGetRequest {
	return AccountGroupsAPIV1AccountGroupsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountGroupSearchResultsV1
func (a *AccountGroupsAPIService) V1AccountGroupsGetExecute(r AccountGroupsAPIV1AccountGroupsGetRequest) (*AccountGroupSearchResultsV1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountGroupSearchResultsV1
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountGroupsAPIService.V1AccountGroupsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account-groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	} else {
		var defaultValue int64 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "form", "multi")
		}
	} else {
		var defaultValue []string = []string{"name:asc"}
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "multi")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", defaultValue, "form", "")
		r.filter = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountGroupsAPIV1AccountGroupsIdGetRequest struct {
	ctx context.Context
	ApiService AccountGroupsAPI
	id string
}

func (r AccountGroupsAPIV1AccountGroupsIdGetRequest) Execute() (*AccountGroupV1, *http.Response, error) {
	return r.ApiService.V1AccountGroupsIdGetExecute(r)
}

/*
V1AccountGroupsIdGet Gets the account group. 

Gets the account group for the given id.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id of target account group
 @return AccountGroupsAPIV1AccountGroupsIdGetRequest
*/
func (a *AccountGroupsAPIService) V1AccountGroupsIdGet(ctx context.Context, id string) AccountGroupsAPIV1AccountGroupsIdGetRequest {
	return AccountGroupsAPIV1AccountGroupsIdGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountGroupV1
func (a *AccountGroupsAPIService) V1AccountGroupsIdGetExecute(r AccountGroupsAPIV1AccountGroupsIdGetRequest) (*AccountGroupV1, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountGroupV1
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountGroupsAPIService.V1AccountGroupsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account-groups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
