/*
Jamf Pro API

## Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

API version: production
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type UsersAPI interface {

	/*
	V1UsersGet Retrieve users with pagination and filtering

	Retrieves a paginated list of users with optional filtering and sorting.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsersAPIV1UsersGetRequest
	*/
	V1UsersGet(ctx context.Context) UsersAPIV1UsersGetRequest

	// V1UsersGetExecute executes the request
	//  @return PagedUserResults
	V1UsersGetExecute(r UsersAPIV1UsersGetRequest) (*PagedUserResults, *http.Response, error)

	/*
	V1UsersIdDelete Delete a user from inventory

	Deletes a user from the inventory by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of the user to delete
	@return UsersAPIV1UsersIdDeleteRequest
	*/
	V1UsersIdDelete(ctx context.Context, id string) UsersAPIV1UsersIdDeleteRequest

	// V1UsersIdDeleteExecute executes the request
	V1UsersIdDeleteExecute(r UsersAPIV1UsersIdDeleteRequest) (*http.Response, error)

	/*
	V1UsersIdGet Retrieve a user by ID

	Retrieves a single user by their ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of the user to retrieve
	@return UsersAPIV1UsersIdGetRequest
	*/
	V1UsersIdGet(ctx context.Context, id string) UsersAPIV1UsersIdGetRequest

	// V1UsersIdGetExecute executes the request
	//  @return User
	V1UsersIdGetExecute(r UsersAPIV1UsersIdGetRequest) (*User, *http.Response, error)

	/*
	V1UsersIdPut Update a user in inventory

	Updates an existing user in the inventory by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of the user to update
	@return UsersAPIV1UsersIdPutRequest
	*/
	V1UsersIdPut(ctx context.Context, id string) UsersAPIV1UsersIdPutRequest

	// V1UsersIdPutExecute executes the request
	V1UsersIdPutExecute(r UsersAPIV1UsersIdPutRequest) (*http.Response, error)

	/*
	V1UsersPost Create a new user in inventory

	Creates a new user in the inventory.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsersAPIV1UsersPostRequest
	*/
	V1UsersPost(ctx context.Context) UsersAPIV1UsersPostRequest

	// V1UsersPostExecute executes the request
	//  @return HrefResponse
	V1UsersPostExecute(r UsersAPIV1UsersPostRequest) (*HrefResponse, *http.Response, error)
}

// UsersAPIService UsersAPI service
type UsersAPIService service

type UsersAPIV1UsersGetRequest struct {
	ctx context.Context
	ApiService UsersAPI
	page *int64
	pageSize *int64
	sort *[]string
	filter *string
	platform *bool
}

// Page to display. Uses zero-based indexing.
func (r UsersAPIV1UsersGetRequest) Page(page int64) UsersAPIV1UsersGetRequest {
	r.page = &page
	return r
}

// Number of results per page. Maximum of 1000.
func (r UsersAPIV1UsersGetRequest) PageSize(pageSize int64) UsersAPIV1UsersGetRequest {
	r.pageSize = &pageSize
	return r
}

// Sorting criteria in the format: property(:asc|desc). Default sort order is ascending. Multiple sort criteria are supported.  Examples: - sort&#x3D;username - sort&#x3D;username:asc - sort&#x3D;username:asc,realname:desc
func (r UsersAPIV1UsersGetRequest) Sort(sort []string) UsersAPIV1UsersGetRequest {
	r.sort = &sort
	return r
}

// RSQL filter to limit results. Supports all user fields.  Examples: - filter&#x3D;username&#x3D;&#x3D;\&quot;john*\&quot; - filter&#x3D;realname&#x3D;&#x3D;\&quot;John Smith\&quot; - filter&#x3D;email&#x3D;&#x3D;\&quot;*@jamf.com\&quot; - filter&#x3D;position&#x3D;&#x3D;\&quot;Manager\&quot;;id!&#x3D;\&quot;1\&quot; - filter&#x3D;id&#x3D;in&#x3D;(123,456,789)
func (r UsersAPIV1UsersGetRequest) Filter(filter string) UsersAPIV1UsersGetRequest {
	r.filter = &filter
	return r
}

// Optional. Return platform identifiers instead of internal identifiers when set to true.
func (r UsersAPIV1UsersGetRequest) Platform(platform bool) UsersAPIV1UsersGetRequest {
	r.platform = &platform
	return r
}

func (r UsersAPIV1UsersGetRequest) Execute() (*PagedUserResults, *http.Response, error) {
	return r.ApiService.V1UsersGetExecute(r)
}

/*
V1UsersGet Retrieve users with pagination and filtering

Retrieves a paginated list of users with optional filtering and sorting.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UsersAPIV1UsersGetRequest
*/
func (a *UsersAPIService) V1UsersGet(ctx context.Context) UsersAPIV1UsersGetRequest {
	return UsersAPIV1UsersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PagedUserResults
func (a *UsersAPIService) V1UsersGetExecute(r UsersAPIV1UsersGetRequest) (*PagedUserResults, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PagedUserResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.V1UsersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	} else {
		var defaultValue int64 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "form", "multi")
		}
	} else {
		var defaultValue []string = []string{"id:asc"}
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "multi")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", defaultValue, "form", "")
		r.filter = &defaultValue
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", defaultValue, "form", "")
		r.platform = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsersAPIV1UsersIdDeleteRequest struct {
	ctx context.Context
	ApiService UsersAPI
	id string
}

func (r UsersAPIV1UsersIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1UsersIdDeleteExecute(r)
}

/*
V1UsersIdDelete Delete a user from inventory

Deletes a user from the inventory by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the user to delete
 @return UsersAPIV1UsersIdDeleteRequest
*/
func (a *UsersAPIService) V1UsersIdDelete(ctx context.Context, id string) UsersAPIV1UsersIdDeleteRequest {
	return UsersAPIV1UsersIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *UsersAPIService) V1UsersIdDeleteExecute(r UsersAPIV1UsersIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.V1UsersIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/users/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type UsersAPIV1UsersIdGetRequest struct {
	ctx context.Context
	ApiService UsersAPI
	id string
	platform *bool
}

// Optional. Return platform identifiers instead of internal identifiers when set to true.
func (r UsersAPIV1UsersIdGetRequest) Platform(platform bool) UsersAPIV1UsersIdGetRequest {
	r.platform = &platform
	return r
}

func (r UsersAPIV1UsersIdGetRequest) Execute() (*User, *http.Response, error) {
	return r.ApiService.V1UsersIdGetExecute(r)
}

/*
V1UsersIdGet Retrieve a user by ID

Retrieves a single user by their ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the user to retrieve
 @return UsersAPIV1UsersIdGetRequest
*/
func (a *UsersAPIService) V1UsersIdGet(ctx context.Context, id string) UsersAPIV1UsersIdGetRequest {
	return UsersAPIV1UsersIdGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return User
func (a *UsersAPIService) V1UsersIdGetExecute(r UsersAPIV1UsersIdGetRequest) (*User, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *User
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.V1UsersIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/users/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", defaultValue, "form", "")
		r.platform = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsersAPIV1UsersIdPutRequest struct {
	ctx context.Context
	ApiService UsersAPI
	id string
	userInventory *UserInventory
}

func (r UsersAPIV1UsersIdPutRequest) UserInventory(userInventory UserInventory) UsersAPIV1UsersIdPutRequest {
	r.userInventory = &userInventory
	return r
}

func (r UsersAPIV1UsersIdPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1UsersIdPutExecute(r)
}

/*
V1UsersIdPut Update a user in inventory

Updates an existing user in the inventory by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the user to update
 @return UsersAPIV1UsersIdPutRequest
*/
func (a *UsersAPIService) V1UsersIdPut(ctx context.Context, id string) UsersAPIV1UsersIdPutRequest {
	return UsersAPIV1UsersIdPutRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *UsersAPIService) V1UsersIdPutExecute(r UsersAPIV1UsersIdPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.V1UsersIdPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/users/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userInventory == nil {
		return nil, reportError("userInventory is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userInventory
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type UsersAPIV1UsersPostRequest struct {
	ctx context.Context
	ApiService UsersAPI
	userInventory *UserInventory
	platform *bool
}

func (r UsersAPIV1UsersPostRequest) UserInventory(userInventory UserInventory) UsersAPIV1UsersPostRequest {
	r.userInventory = &userInventory
	return r
}

// Internal platform request indicator
func (r UsersAPIV1UsersPostRequest) Platform(platform bool) UsersAPIV1UsersPostRequest {
	r.platform = &platform
	return r
}

func (r UsersAPIV1UsersPostRequest) Execute() (*HrefResponse, *http.Response, error) {
	return r.ApiService.V1UsersPostExecute(r)
}

/*
V1UsersPost Create a new user in inventory

Creates a new user in the inventory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UsersAPIV1UsersPostRequest
*/
func (a *UsersAPIService) V1UsersPost(ctx context.Context) UsersAPIV1UsersPostRequest {
	return UsersAPIV1UsersPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HrefResponse
func (a *UsersAPIService) V1UsersPostExecute(r UsersAPIV1UsersPostRequest) (*HrefResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HrefResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.V1UsersPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userInventory == nil {
		return localVarReturnValue, nil, reportError("userInventory is required and must be specified")
	}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", defaultValue, "form", "")
		r.platform = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userInventory
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
